.afterMailing {
  background: url("../assets/backgrounds/mail/afterMailing-background.svg")
    no-repeat center center/cover;
  &__body {
    @include flexbox(row, baseline, flex-start);
  }

  &__sec-title {
    max-width: 451px;
  }

  &__right {
    margin-left: 40px;
  }

  &__item + &__item {
    margin-top: 80px;
  }
  &__item:nth-child(2) {
    margin-left: 82px;
  }
}

.item-afterMailing {
  @include flexbox(row, baseline, flex-start);
  &__title {
    margin-top: 0;
  }
  &__text {
    max-width: 384px;
  }
  &__right {
    margin-left: 16px;
  }
  margin: 0;
  &__order {
    font-size: 62px;
    font-weight: 700;
  }
}
