.cities {
  z-index: 1;
  overflow: hidden;
  position: relative;
  &__map {
    @include position(absolute, "", rem(177px), 0, 0, auto, none);
    left: calc(790 / 1920 * 100%);
    right: min(100px);
    z-index: -1;
  }

  &__section {
    padding-bottom: rem(40px);
  }
  background: #2e2d44;

  &__header {
    margin-bottom: rem(30px);
  }
  &__body {
    @include flexbox(row, space-between, flex-start);
  }

  &__left {
    align-self: center;
    flex: 1;
  }
  &__list,
  &__list-hidden {
    @include grid(0, rem(18px), rem(0px), 1, 1fr, auto-fill, rem(200px), 0.3fr);
  }
  &__list {
    margin-bottom: rem(18px);
  }
  &__list-hidden {
    --max-heightCities: 0;
    max-height: var(--max-heightCities);
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }

  &__item {
    margin-left: rem(16px);
    padding-left: rem(18px);
    max-width: rem(200px);
    margin-top: 0;
    position: relative;
    display: list-item;
    &:before {
      @include position(absolute, "", 0, 0, rem(-5px), auto, auto);
      width: rem(8px);
      height: rem(8px);
      border-radius: rem(100px);
      background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    }

    /*     list-style: ; */
  }

  &__accordion {
    margin-top: rem(14px);
  }

  &__link {
    margin-left: rem(16px);
  }
  &__icon {
    margin-left: rem(12px);
  }
  &__accordion-body--hide &__icon {
    transform: rotate(180deg);
  }

  /*   &__item::marker {
    content: url("../../assets/svg/ellipse-list.svg");

  } */
}

.text-accordion {
  &__body {
    cursor: pointer;
    @include flexbox(row, baseline, baseline);
    display: inline-flex;
  }
  &__link {
    margin-top: 0 !important;
    text-decoration: underline;
  }

  &__icon {
    transition: transform 0.2s ease-in-out;
  }
}
