.cities {
  &__section {
    padding-bottom: rem(40px);
  }
  background: url("../assets/backgrounds/main/buy-background.png") no-repeat
    center center/cover;
  &__body {
    @include flexbox(row, space-between, flex-start);
  }

  &__left {
    margin-bottom: rem(80px);
    flex: 1;
  }
  &__list,
  &__list-hidden {
    @include grid(0, rem(18px), rem(30px), 1, 1fr, auto-fill, rem(200px), 1fr);
  }
  &__list {
    margin-bottom: rem(18px);
  }
  &__list-hidden {
    --max-heightCities: 0;
    max-height: var(--max-heightCities);
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }

  &__item {
    margin-left: rem(16px);
    padding-left: rem(18px);
    margin-top: 0;
    position: relative;
    display: list-item;
    &:before {
      @include position(absolute, "", 0, 0, rem(-5px), auto, auto);
      width: rem(8px);
      height: rem(8px);
      border-radius: rem(100px);
      background: linear-gradient(101.62deg, #1549d0 -3.13%, #17cdcd 174.19%);
    }

    /*     list-style: ; */
  }

  &__accordion {
    margin-top: rem(14px);
  }

  &__link {
    margin-left: rem(16px);
  }
  &__icon {
    margin-left: rem(12px);
  }
  &__accordion-body--hide &__icon {
    transform: rotate(180deg);
  }

  /*   &__item::marker {
    content: url("../../assets/svg/ellipse-list.svg");

  } */
}

.text-accordion {
  &__body {
    cursor: pointer;
    @include flexbox(row, baseline, baseline);
    display: inline-flex;
  }
  &__link {
    margin-top: 0 !important;
    text-decoration: underline;
  }

  &__icon {
    transition: transform 0.2s ease-in-out;
  }
}
