.articles {
  &__title {
    font-size: 50px;
    font-weight: 700;
  }
  background: url("../assets/backgrounds/main/programm-background.svg")
    no-repeat center center/cover;
  &__header {
    /*     margin-top: 50px; */
  }
  &__pages {
    margin-top: 70px;
  }

  &__footer {
    margin-top: 100px;
    @include flexbox(row, center, center);
  }

  &__line {
    margin-top: 32px;
    height: 1px;
    background-color: #2b4263;
  }
}
