.work {
  background: url("../assets/backgrounds/main/cooperartion-background.svg")
    no-repeat center center/cover;
  &__body {
    @include flexbox(row, baseline, flex-start);
  }

  &__right {
    margin-left: 26px;
  }

  &__sec-title {
    max-width: 451px;
  }

  &__advantage {
    margin-left: 12px;
    max-width: 554px;
  }
  &__item:nth-child(1) {
    margin-top: 38px;
  }
  &__item {
    margin-top: 76px;
  }
  &__item:nth-child(2),
  &__item:nth-child(3) {
    margin-left: 82px;
  }
}

.item-work {
  @include flexbox(row, baseline, flex-start);
  &__title {
    margin-top: 0;
    max-width: 209px;
  }
  &__text {
    max-width: 384px;
  }
  &__right {
    margin-left: 16px;
  }
  margin: 0;
  &__order {
    font-size: 62px;
    font-weight: 700;
  }
}
