.work {
  background: url("../assets/backgrounds/main/cooperartion-background.svg")
    no-repeat center center/cover;
  &__body {
    @include flexbox(row, baseline, flex-start);
  }

  &__right {
    margin-left: rem(26px);
  }

  &__sec-title {
    max-width: rem(451px);
  }

  &__advantage {
    margin-left: rem(12px);
    max-width: rem(554px);
  }
  &__item:nth-child(1) {
    margin-top: rem(38px);
  }
  &__item {
    margin-top: rem(76px);
  }
  &__item:nth-child(2),
  &__item:nth-child(3) {
    margin-left: rem(82px);
  }
}

.item-work {
  @include flexbox(row, baseline, flex-start);
  &__title {
    margin-top: 0;
    max-width: rem(209px);
  }
  &__text {
    max-width: rem(384px);
  }
  &__right {
    margin-left: rem(16px);
  }
  margin: 0;
  &__order {
    font-size: rem(62px);
    font-weight: 700;
  }
}
