.programm {
  &__title {
    max-width: rem(784px);
  }

  &__sec-title {
    max-width: rem(670px);
  }

  background: linear-gradient(
    100.74deg,
    #191830 0%,
    #1e1d38 48.96%,
    #191830 100.96%
  );

  &__slider {
    @include flexbox(row, space-between, center);
    position: relative;
  }
  &__resizer {
    position: absolute;
    visibility: hidden;
    width: 10px;
  }
}
.programm-content {
  &__title {
    text-align: center;
  }
  &__body {
    margin-top: rem(50px);
  }

  &__wrapper {
    display: grid;
    grid-template-areas:
      "first img third"
      "second img fourth";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &__item:nth-child(1) {
    grid-area: first;
  }
  &__item:nth-child(1) > .item-programm {
    margin-top: rem(92px);
    margin-left: rem(97px);
  }

  &__item:nth-child(1) .item-programm__title {
    max-width: rem(509px);
  }
  &__item:nth-child(2) {
    grid-area: second;
  }

  &__item:nth-child(2) > .item-programm {
    margin-top: rem(29px);
  }
  &__item:nth-child(2) .item-programm__title {
    max-width: rem(174px);
  }
  &__item:nth-child(3) {
    grid-area: third;
  }
  &__item:nth-child(3) > .item-programm {
    margin-top: rem(92px);
    margin-left: rem(20px);
  }
  &__item:nth-child(4) {
    grid-area: fourth;
  }
  &__item:nth-child(4) > .item-programm {
    margin-top: rem(29px);
    margin-left: rem(70px);
  }

  &__item:nth-child(5) {
    grid-area: img;
  }
}

.item-programm {
  @include flexbox(row, baseline, flex-start);
  &__title {
    margin-top: 0;
  }
  &__text {
    max-width: rem(384px);
  }
  &__right {
    margin-left: rem(16px);
  }
  margin: 0;
  &__order {
    font-size: rem(62px);
    font-weight: 700;
  }
}

.mailing {
  &__text {
    max-width: rem(542px);
  }
  &__img {
    margin-top: rem(-30px);
  }
}
