.advantages {
  background-color: #2e2d44;
  &__slider {
    @include grid(
      0,
      rem(80px),
      rem(30px),
      1,
      1fr,
      auto-fill,
      rem(380px),
      rem(380px)
    );
    justify-content: center;
    position: relative;
  }

  &__item {
    /*    height: rem(316px); */
    position: relative;
    z-index: 0;
    flex: 1;
    background-color: #3f3d5f;
    border-radius: rem(12px);
    transition: all 0.2s ease-in-out;
    /*     &:before {
    
      background-size: contain;
      width: 100%;
      z-index: -1;
    } */
  }

  /*   &__item + &__item {
    margin-left: rem(32px);
  } */
  //   &__item:nth-child(1), &__item:nth-child(3) {
  //     &:after {
  //       left: rem(-70px);
  //     }
  //   }

  &__item:nth-child(2) .item-advantages__text {
    max-width: rem(242px);
  }
  &__item:nth-child(2) .item-advantages__text {
    max-width: rem(242px);
  }

  &__resizer {
    position: absolute;
    visibility: hidden;
    left: -1000px;
    width: 10px;
  }
}

.item-advantages {
  /*   padding-bottom: rem(34px);
 */
  &__header {
    border-top-left-radius: rem(12px);
    border-top-right-radius: rem(12px);
    @include flexbox(row, center, center);
    position: relative;
    overflow: hidden;
    /* 
    background: url("../assets/svg/main/advantages/Intersect.svg") no-repeat
    center center/cover; */

    &::after {
      @include position(absolute, "", 0, 0, -25%, 0, auto);
      background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      width: 150%;
      /*     width: 100%;
      height: 100%; */

      z-index: -1;
    }
    height: rem(227px);
  }
  &__background {
    @include position(
      absolute,
      url("../assets/svg/main/advantages/intersect.svg"),
      0,
      auto,
      0,
      0,
      auto
    );
    z-index: -1;
  }
  &__body {
    height: rem(160px);
  }

  /*   &__wrapper {
    @include flexbox(column, baseline, baseline);
  } */
  &__text,
  &__title {
    text-align: center;
  }

  &__title {
    margin-top: rem(28px);
  }
  &__text {
    margin: auto;
    max-width: rem(322px);
  }

  &__text-short {
    max-width: rem(312px);
  }
  &__img {
    margin: auto;
    display: block;
  }
}
