.advantages {
  background: url("../assets/backgrounds/main/advantages-background.svg")
    no-repeat center center/cover;
  &__slider {
    @include flexbox(row, space-between, center);
    position: relative;
  }

  &__item {
    width: rem(484px);
    /*    height: rem(316px); */
    position: relative;
    z-index: 0;
    background-color: $secColor;
    border-radius: rem(12px);
    transition: all 0.2s ease-in-out;
    /*     &:after {
      @include position(absolute, "", 0, 0, 0, 0, auto);
      width: 117%;
      height: 107%;

      z-index: -1;
    } */
  }
  //   &__item:nth-child(1), &__item:nth-child(3) {
  //     &:after {
  //       left: rem(-70px);
  //     }
  //   }

  &__item-center:hover {
    background-color: #255ae3;
  }
  &__item:hover {
    background-color: #0b213f;
  }
  &__item:nth-child(3) .item-advantages {
    margin-left: rem(105px);
    margin-bottom: rem(68px);
  }
  &__item-center {
    @include position(absolute, "", rem(220px), 0, 0, 0, auto);
    width: rem(377px);
    height: rem(264px);
    /*     margin-top: rem(220px); */
    z-index: 2;
    border-radius: rem(12px);
    background-color: $accentColor;
  }

  &__resizer {
    position: absolute;
    visibility: hidden;
    left: -1000px;
    width: 10px;
  }
}

.item-advantages {
  margin-top: rem(29px);
  margin-bottom: rem(38px);
  margin-left: rem(40px);

  &__text {
    max-width: rem(366px);
  }
  &__text-short {
    max-width: rem(312px);
  }
}
