.tariff {
  background: linear-gradient(
    100.74deg,
    #191830 0%,
    #1e1d38 48.96%,
    #191830 100.96%
  );
  &__title {
    max-width: rem(395px);
  }
  &__body {
  }
  &__card {
    background-color: #2c2c45;
    box-shadow: 0px rem(5px) rem(50px) rem(2px) rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0 rem(50px);
    padding-top: rem(43px);
    padding-bottom: rem(40px);
    border-radius: rem(12px);
    margin-top: rem(40px);
  }
}

.togglers {
  display: flex;
  &__button {
    color: $primaryColor;
    &:after {
      content: none;
    }
    width: rem(196px);
    z-index: 0;
    background: url("../assets/svg/button-linear-bg.svg") no-repeat center
      center/cover;

    // position: relative;
    // background-clip: padding-box; /* !importanté */
    // border: solid rem(1px) transparent; /* !importanté */
    // border-left: none;
    // border-image: 10px;
    // border-image: linear-gradient(90deg, #83a6ff -0.49%, #4d6de2 99.88%);
    // border-image-slice: 1;
  }

  &__button--active {
    border: none;
    background: linear-gradient(90deg, #83a6ff -0.49%, #4d6de2 99.88%);
  }
  &__button:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__button:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.card-tariff {
  &__header,
  &__price,
  &__footer {
    display: flex;
  }

  &__togglers {
    @include flexbox(row, space-between, flex-start);
  }
  &__body {
    margin-top: rem(32px);
  }

  &__text {
    /* max-width: rem(269px); */
    line-height: rem(26px);
  }
  &__line {
    margin-top: rem(32px);
    height: rem(1px);
    background-color: #474761;
  }
  &__span {
    opacity: 0.8;
  }

  &__switch {
    margin-left: rem(217px);
    @include flexbox(column, space-between, space-between);
  }
}

.total-price {
  &__amount,
  &__amount-rub {
    font-size: rem(50px);
    line-height: rem(58px);
    font-weight: 700;
  }

  &__amount-rub {
    margin-left: rem(16px);
  }

  &__text {
    margin-left: rem(16px);
    margin-top: 0px;
  }
}

.togglers-tariff {
  &__btn {
    @include flexbox(row, baseline, center);
    margin-top: rem(17px);
  }

  &__text {
    margin-top: 0;
  }
  &__item:nth-child(1),
  &__item:nth-child(3) {
    flex: 0.8;
  }
  &__item /* + &__item  */ {
    /*   margin-left: rem(207px); */
    flex: 1;
  }
  &__sale {
    max-width: rem(374px);
    margin-top: rem(18px);
  }

  &__footer {
    margin-top: rem(18px);
  }
}

.btn-tariff {
  &__toggler {
    width: rem(24px);
    height: rem(24px);
  }
  &__item + &__item {
    margin-left: rem(12px);
  }
  &__amount {
    margin-top: 0;
    padding-top: rem(6px);
  }
}

.footer-tariff {
  &__btn {
    width: rem(200px);
    background: none;
    box-shadow: none;
    color: $secColor;
    background-color: $primaryColor;
  }
  &__info {
    @include flexbox(row, center, center);
    margin-left: rem(139px);
  }
  &__btn,
  &__info {
    margin-top: rem(-32px);
  }
  &__span {
    margin-left: rem(-25px);
  }
  &__text-info {
    color: $primaryColor;
    margin-left: rem(12px);
    text-decoration: underline;
    background: none;
    box-shadow: none;
  }
}
