@media (max-width: 1200px) {
  $accentColor: #132451;
}
.btn {
  outline: none;
  background-color: transparent;
  margin-top: 0;
  position: relative;
  height: rem(50px);
  border-radius: rem(4px);
  font-weight: 500;
  // font-size: rem(16px);
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    // transform: scale(1.02);
    box-shadow: 0 0 10px rgb (0 0 0 / 30%);
  } /*   &:active {
    background-color: #0c3ab1 !important;
  } */
  &__main {
    background-color: $primaryColor;
    color: $secColor;
    position: relative;
    &:after {
      @include position(
        absolute,
        url("../assets/svg/chevron-right.svg"),
        0,
        0,
        auto,
        rem(18px),
        auto
      );
      @include flexbox(row, center, center);

      height: rem(12px);
    }
    &:hover {
      border: none;
    }
  }

  &__span {
    align-self: baseline;
    margin-left: rem(28px);
    z-index: 1;
  }
  &__toggler {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  &__transparent {
    background-color: transparent;
    border: rem(1px) solid $primaryColor;
    &:active {
      border: none;
    }
  }

  &__linear,
  &__transparent {
    color: $primaryColor;
    @include flexbox(column, center, center);
  }

  &__transparent &__span,
  &__linear &__span {
    margin-left: 0;
    align-self: center;
  }

  &__shadow {
    color: $primaryColor;
    box-shadow: rem(0px) rem(10px) rem(30px) rem(0px) rgba(36, 192, 226, 0.1);
  }

  &__linear {
    background: linear-gradient(90deg, #16d9e3 0%, #26c2e9 47%, #46aef7 100%);
  }

  &__link {
    @include flexbox(column, center, center);
  }
}

.incDec-btn {
  width: 100%;
  height: 100%;
  transition: transform 0.3s, box-shadow 0.3s;

  &__body {
  }
  &__item {
    transition: fill 0.3s ease-in-out;
  }

  &:active &__item {
    fill: $primaryColor;
  }
  &:hover &__body {
  }
  &:active &__body {
    fill: url(#paint0_linear);
  }
  /*    &:active  &__item  {

   } */
}
/* .incDec-btn--minus {
  position: relative;
} */

.incDec-btn--minus .incDec-btn__horiz {
  display: none;
}
