@media (max-width: 1200px) {
  $accentColor: #132451;
}
.btn {
  outline: none;
  background-color: transparent;
  color: $primaryColor;
  height: rem(58px);
  border-radius: rem(8px);
  font-size: rem(16px);
  transition: background 0.3s ease-in-out;
  &:active {
    background-color: #0c3ab1 !important;
  }
  &__main {
    background-color: $accentColor;
    &:hover {
      background-color: #255ae3;
    }
  }
  &__toggler {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  &__transparent {
    background-color: transparent;
    color: $primaryColor;
    font-weight: 600;
    border: rem(1px) solid $accentColor;
    &:hover {
      background-color: $accentColor;
    }
  }

  &__link {
    @include flexbox(column, center, center);
  }
}

.incDec-btn {
  width: 100%;
  height: 100%;
  &__body {
    transition: all 0.2s ease-in-out;
  }
  &__item {
    transition: fill 0.2s ease-in-out;
  }

  &:hover &__item {
    fill: $primaryColor;
  }
  &:hover &__body {
    fill: $accentColor;
  }
  &:active &__body {
    fill: #0c3ab1;
    stroke: #0c3ab1;
  }
  /*    &:active  &__item  {

   } */
}

.incDec-btn--minus .incDec-btn__horiz {
  display: none;
}
