.sidebar {
  z-index: 2;
  &__body {
    height: 100%;
    @include flexbox(row, space-between, center);
    z-index: 22;
  }
  &__content {
    /*  flex: 0.5; */
    height: 100%;
    width: 30rem;
    z-index: 1;
    padding: rem(82px) 1rem;
    background-color: #0e1e35;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    @media (max-width: 768px) {
      width: 100%;
    }
    /*  inset 0px 0px 0px rgba(0, 0, 0, 0.16),
      inset 0px 0px 0px rgba(0, 0, 0, 0.16); */
  }

  &__body--active {
    transform: translateX(0);
  }

  &__menu {
    position: relative;
  }

  &__login-link {
    width: 5rem !important;
    position: relative !important;
    /*     &::before {
      left: 0.8rem;
      
    } */
    @media (max-width: 550px) {
      font-size: 1.15rem !important;
    }
  }
}

.mobile-menu {
  overflow: hidden;
  &__wrapper {
    /* transform: translateX(-200px); */
    position: relative;
    transition: transform 0.5s ease-in-out;
  }

  .mobile-menu__nested-margin {
    margin-top: -3rem;
  }

  &__item {
    height: 3rem;
    display: none;
    border-top: rem(1px) solid #1b2d48;
  }

  &__item--active {
    display: block;
  }

  &__link {
    @include flexbox(row, flex-start, center);
    height: 100%;
    width: 100%;
    margin-top: 0;
  }

  &__item:last-child {
    border-bottom: rem(1px) solid #1b2d48;
  }
}

.overlay {
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 100%;
  flex: 1;
  background: rgba(0, 0, 0, 0.36);
  height: 100%;
  visibility: hidden;
}

.overlay--show {
  transition: visibility 0s ease-in-out 0.35s;
  visibility: visible;
}
