.slider {
  &__toggle-btn {
    @include position(absolute, "", 0, 0, auto, rem(66px), auto);
    @include flexbox(row, center, center);
    height: rem(48px);
    width: rem(48px);
    border-radius: rem(100%);
    cursor: pointer;
    z-index: 10;
    background-color: $accentColor;
  }

  &__toggle-btn:nth-child(1) {
    right: auto;
    left: rem(66px);
    transform: rotate(180deg);
  }
  &__toggle-btn--unactive {
    display: none;
  }

  &__item--unActive {
    opacity: 0.3;
  }

  @media (max-width: 650px) {
    &__toggle-btn {
      right: calc(66 / 650 * 100%);
      height: rem(34px);
      width: rem(34px);
    }
    &__toggle-btn:nth-child(1) {
      left: calc(66 / 650 * 100%);
    }
    &__toggle-img {
      height: rem(15px);
    }
  }

  &__togglers {
    display: none !important;
  }
}

.slider--smooth {
  transition: transform 0.5s ease-in-out !important ;
}

.circe-togglers {
  @include flexbox(row, center, center);
  margin-top: rem(20px);
  &__body {
    @include flexbox(row, space-between, center);
    display: inline-flex;
  }

  &__item {
    width: rem(8px);
    height: rem(8px);
    border-radius: rem(100px);
    background-color: $accentColor;
    opacity: 0.43;
    cursor: pointer;
  }

  &__item + &__item {
    margin-left: rem(12px);
  }
  &__item--active {
    opacity: 1;
  }
}
