/** NOTE: When this is updated, refresh ripple.js' minified version. */

/**
 * contains a ripple. Will normally grow to fixed size (200px/200px), not
 * related to the holder itself.
 */

/* .rippleJS {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: inherit;
  -webkit-mask-image: -webkit-radial-gradient(circle, #fff, #000) !important;
} */
// .rippleJS.fill::after {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   content: "";
// }
// .rippleJS.fill.active {
//   border-radius: 1000000px;
// }
// .rippleJS .ripple {
//   position: absolute;
//   border-radius: 100%;
//   background: #eceff4 !important;
//   opacity: 0.2 !important;
//   transition: all 0.4s ease-out !important;
//   width: 0;
//   height: 0;
//   pointer-events: none;
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
// .rippleJS .ripple.held {
//   background: #eceff4 !important;
//   opacity: 0.4 !important;
// }
// .rippleJS .ripple.done {
//   opacity: 0;
// }

.btn__main,
.btn__transparent {
  vertical-align: bottom;
  transition: box-shadow 0.25s;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: border 0.15s;
  margin-bottom: 8px;
}

.btn__main .rippleJS,
.btn__transparent .rippleJS {
  opacity: 1;
  border-radius: 4px; /** parent border-radius minus border width */
}

.btn__main .rippleJS .ripple {
  opacity: 1;
  background: #eceff4 !important;
}

.btn__transparent .rippleJS .ripple {
  opacity: 1;
  z-index: 0;
  background: linear-gradient(
    90deg,
    #16d9e3 0%,
    #26c2e9 47%,
    #46aef7 100%
  ) !important;
  /*  background: red !important; */
}
