/* $accentColorSec: #f9f5e8;
$darkGrey: #151d28;
$lightGrey: #edf0f5; */
@font-face {
  font-family: "TTCommons";
  font-display: swap;
  /*     src: url("../fonts/") format("woff"), */
  src: url("../fonts/TTCommons-Regular.woff") format("woff"), url("../fonts/TTCommons-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTCommons";
  font-display: swap;
  /*     src: url("../fonts/") format("woff"), */
  src: url("../fonts/TTCommons-Medium.woff") format("woff"), url("../fonts/TTCommons-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TTCommons";
  font-display: swap;
  /*     src: url("../fonts/") format("woff"), */
  src: url("../fonts/TTCommons-DemiBold.woff") format("woff"), url("../fonts/TTCommons-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TTCommons";
  font-display: swap;
  /*     src: url("../fonts/") format("woff"), */
  src: url("../fonts/TTCommons-Bold.woff") format("woff"), url("../fonts/TTCommons-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/*normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* @media (max-width: 768px) {
  * {
    font-size: rem(14px);
  }
} */
/* @media (max-width: 650px) {
  * {
    font-size: rem(13px);
  }
} */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

b nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  color: #ffffff;
  line-height: 1;
  font-family: "TTCommons";
  overflow: auto;
}

/* .body {
  height: 100vh;
} */
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: #ffffff;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

li > a,
.notFound__link {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

li > a:hover,
.notFound__link:hover {
  color: #29e3f9;
}

li > a:active,
.notFound__link:active {
  color: #17b6c9;
}

img {
  vertical-align: top;
}

.container,
.container-md {
  max-width: 76.5rem;
  height: 100%;
  margin: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  overflow: hidden;
}

.container-md {
  overflow: visible;
  max-width: 70.75rem;
}

.body--noscroll {
  overflow: hidden;
}

.page_screen_full {
  height: 100vh !important;
}

.page {
  background-color: #1d1c39;
  position: relative;
  z-index: 0;
  overflow: hidden !important;
  /*   transition: background 0.2s ease-in-out 0.2s; */
}
.page:after {
  position: absolute;
  content: "";
  top: -25.4375rem;
  bottom: auto;
  left: 54%;
  right: 0;
  margin: auto;
  background: url("../assets/svg/main/main/Ellipse-full.svg");
  -o-object-fit: cover;
     object-fit: cover;
  width: 73.3125rem;
  height: 73.3125rem;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*   @media (max-width: 1920px) {
    width: 45%;
  } */
}
.page__wrapper {
  position: relative;
}
.page__wrapper--overflow {
  position: relative;
  overflow: visible;
}
.page__navigtion {
  padding-left: 0.75rem;
  position: absolute;
  content: "";
  top: 1.75rem;
  bottom: auto;
  left: 0;
  right: auto;
  margin: auto;
}
.page__sidebar {
  height: calc(100% - 66px);
  width: 100%;
  position: absolute;
  content: "";
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  margin: auto;
  height: 100%;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page__sidebar--active {
  visibility: visible;
}

.section--main-background .section__content .page__navigtion {
  padding-left: 0;
}

.page--contact {
  height: calc(100vh - 200px) !important;
}

.page--mail {
  background: url("../assets/backgrounds/mail/main-background.png") no-repeat center center/cover;
}

.page--base {
  background: url("../assets/backgrounds/base/main-background.png") no-repeat center center/cover;
}

.page_sec_color {
  background: #192942;
}

.navigtion-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigtion-page__item + .navigtion-page__item {
  margin-left: 1.625rem;
  position: relative;
}
.navigtion-page__item + .navigtion-page__item:before {
  position: absolute;
  content: url("../assets/svg/page-pagination-icon.svg");
  top: -0.3125rem;
  bottom: 0;
  left: -0.9375rem;
  right: auto;
  margin: auto;
  width: 0.625rem;
  height: 0.625rem;
}
.navigtion-page__item + .navigtion-page__item > .navigtion-page__link {
  opacity: 0.6;
}

.section__header {
  margin-top: 7.5rem;
  margin-bottom: 4.375rem;
}
.section__content {
  padding-bottom: 7.5rem;
}
.section__title {
  z-index: 1;
  line-height: 3.25rem;
  font-size: 2.8125rem;
  max-width: 45.3125rem;
  text-align: center;
  margin: auto;
  letter-spacing: 0.02em;
  font-weight: 700;
  /* @include flexbox(column, space-between, center); */
}
.section__sec-title {
  margin: auto;
  margin-top: 1.875rem !important;
  text-align: center;
}
.section__title-span {
  line-height: 1.5rem;
  font-family: "Nunito";
  font-size: 1.25rem;
  font-weight: 600;
}

.section--main-background {
  background-color: #2d2c45 !important;
  background-image: none !important;
}
.section--main-background:after {
  content: none;
}

.page_screen_full + .section--sec {
  padding-top: 1.25rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item__title {
  line-height: 1.875rem;
  font-size: 1.375rem;
  font-weight: 500;
  margin-top: 1.125rem;
}
.item__title-modal {
  line-height: 1.875rem;
  font-size: 1.75rem;
  font-weight: 500;
}
.item__title-medium {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 600;
}
.item__text {
  line-height: 1.5rem;
  font-size: 1.0625rem;
  font-weight: 400;
  margin-top: 0.75rem;
}
.item__text-medium {
  line-height: 1.4375rem;
  font-weight: 400;
  margin-top: 0.75rem;
  font-size: 0.9375rem;
}
.item__price {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}
.item__main-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#16d9e3), color-stop(47%, #30c7ec), to(#46aef7));
  background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
.item__sec-gradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.49%, #83a6ff), color-stop(99.88%, #4d6de2));
  background: linear-gradient(90deg, #83a6ff -0.49%, #4d6de2 99.88%);
}

.link__underline:hover {
  color: #29e3f9;
  text-decoration: underline;
}
.link__underline:active {
  color: #17b6c9;
  text-decoration: underline;
}

.mg_top_none {
  margin-top: 0 !important;
}

.order {
  margin-top: 0;
  display: grid;
  grid-row-gap: 5rem;
  grid-column-gap: 1.875rem;
  grid-template: repeat(1, 1fr)/repeat(auto-fill, minmax(23.75rem, 23.75rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* border: 1px solid; */
}
.order__wrapper {
  background: url("../assets/svg/dashed-image-medium.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /*Horizontal*/
  position: relative;
}
.order__item {
  margin: 2.625rem auto;
  height: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__title {
  margin-top: 0;
}
.order__text {
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1.4375rem;
  max-width: 20rem;
  margin-top: 0.75rem;
}
.order__num {
  position: absolute;
  content: "";
  top: -2.34375rem;
  bottom: 0;
  left: 1.34375rem;
  right: auto;
  margin: auto;
  background: linear-gradient(101.62deg, #1549d0 -3.13%, #17cdcd 174.19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.125rem;
  line-height: 3.625rem;
  font-weight: 700;
}

.switch-radio__item + .switch-radio__item {
  margin-top: 0.625rem;
}
.switch-radio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.switch-radio__input-wrapper {
  position: relative;
}
.switch-radio__input {
  position: relative;
  width: 1.125rem;
  z-index: 1;
  height: 1.125rem;
  opacity: 0;
}
.switch-radio__input:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -50%;
  right: 0;
  margin: auto;
  border-radius: 62.5rem;
  background-color: #ffffff;
}
.switch-radio__input:checked ~ .custom-radio > .custom-radio__field:before {
  background: -webkit-gradient(linear, left top, right top, from(#16d9e3), color-stop(47%, #30c7ec), to(#46aef7));
  background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
.switch-radio__label {
  margin-top: 0;
  margin-left: 0.75rem;
  padding-top: 0.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-radio {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 1.125rem;
  height: 1.125rem;
  z-index: 0;
  border-radius: 62.5rem;
  background-color: #ffffff;
}
.custom-radio__field {
  position: relative;
  height: 100%;
  width: 100%;
}
.custom-radio__field:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  border-radius: 62.5rem;
  z-index: 2;
  background: transparent;
}

.opportunity__body,
.suit__body,
.suitBase__body {
  margin-top: 5.625rem !important;
}
/*# sourceMappingURL=style.css.map */