/* $accentColorSec: #f9f5e8;
$darkGrey: #151d28;
$lightGrey: #edf0f5; */
@font-face {
  font-family: "NeueMachina-Ultrabold";
  font-display: swap;
  /*     src: url("../fonts/") format("woff"), */
  src: url("../fonts/NeueMachina-Ultrabold.woff") format("woff"), url("../fonts/NeueMachina-Ultrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "TTCommons-Medium";
  font-display: swap;
  /*     src: url("../fonts/") format("woff"), */
  src: url("../fonts/TTCommons-Medium.woff") format("woff"), url("../fonts/TTCommons-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
/*normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* @media (max-width: 768px) {
  * {
    font-size: rem(14px);
  }
} */
/* @media (max-width: 650px) {
  * {
    font-size: rem(13px);
  }
} */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

b nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  color: #ffffff;
  line-height: 1;
  font-family: "Open Sans";
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: #ffffff;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.container,
.container-md {
  max-width: 76.5rem;
  height: 100%;
  margin: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  overflow: hidden;
}

.container-md {
  overflow: visible;
  max-width: 70.75rem;
}

.body--noscroll {
  overflow: hidden;
}

.page_screen_full {
  height: 100vh !important;
}

.page {
  background: url("../assets/backgrounds/main/main-background.svg") no-repeat center center/cover;
  position: relative;
  /*   transition: background 0.2s ease-in-out 0.2s; */
}
.page__wrapper {
  position: relative;
}
.page__contact {
  height: calc(100vh - 200px) !important;
}
.page__navigtion {
  padding-left: 0.75rem;
  position: absolute;
  content: "";
  top: 6.75rem;
  bottom: auto;
  left: 0;
  right: auto;
  margin: auto;
}
.page__sidebar {
  height: calc(100% - 66px);
  width: 100%;
  position: absolute;
  content: "";
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  margin: auto;
  position: absolute;
  top: 0;
  height: 100%;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page__sidebar--active {
  visibility: visible;
}

.page_sec_color {
  background: #192942;
}

.navigtion-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigtion-page__item + .navigtion-page__item {
  margin-left: 1.375rem;
  position: relative;
  opacity: 0.6;
}
.navigtion-page__item + .navigtion-page__item:before {
  position: absolute;
  content: url("../assets/svg/page-pagination-icon.svg");
  top: -0.625rem;
  bottom: 0;
  left: -0.9375rem;
  right: auto;
  margin: auto;
  width: 0.625rem;
  height: 0.625rem;
}

.section {
  display: none;
}
.section__header {
  margin-top: 8.75rem;
  margin-bottom: 4.375rem;
}
.section__header-content {
  position: relative;
  z-index: 0;
}
.section .section__content {
  padding-bottom: 8.75rem;
}
.section__sec-title {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  margin: auto;
  -webkit-text-stroke: 1px #203656;
  color: transparent;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.02em;
  font-size: 5rem;
  font-weight: 700;
  z-index: -1;
  height: 3.625rem;
  line-height: 3.625rem;
}
.section__sec-title:hover {
  -webkit-background-clip: text !important;
  -webkit-text-stroke: 1px transparent;
  background: linear-gradient(98.72deg, rgba(21, 73, 208, 0.26) 5.11%, #17cdcd 113.04%);
  color: #0f2441;
  /* 
        border: 1px solid;

  border-image-source: linear-gradient(98.72deg, rgba(21, 73, 208, 0.26) 5.11%, #17CDCD 113.04%); */
  /* color: #0f2441; */
}
.section__title {
  z-index: 1;
  margin-top: 1.875rem;
  line-height: 3.625rem;
  font-size: 3.125rem;
  max-width: 36.5rem;
  letter-spacing: 0.02em;
  font-weight: 700;
  /* @include flexbox(column, space-between, center); */
}
.section__title-span {
  line-height: 1.5rem;
  font-family: "Nunito";
  font-size: 1.25rem;
  font-weight: 600;
}

.section--active {
  display: block;
}

.section--main-background {
  background-color: #192942 !important;
  background-image: none !important;
}

.page_screen_full + .section--sec {
  padding-top: 1.25rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item__title {
  line-height: 1.875rem;
  font-size: 1.375rem;
  font-weight: 700;
  margin-top: 1.125rem;
}
.item__title-medium {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 600;
}
.item__text {
  line-height: 1.625rem;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.75rem;
}
.item__text-medium {
  line-height: 1.4375rem;
  font-weight: 400;
  margin-top: 0.75rem;
  font-size: 0.9375rem;
}
.item__price {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.mg_top_none {
  margin-top: 0 !important;
}

.order {
  margin-top: 0;
  display: grid;
  grid-row-gap: 5rem;
  grid-column-gap: 1.875rem;
  grid-template: repeat(1, 1fr)/repeat(auto-fill, minmax(23.75rem, 23.75rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* border: 1px solid; */
}
.order__wrapper {
  background: url("../assets/svg/dashed-image-medium.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /*Horizontal*/
  position: relative;
}
.order__item {
  margin: 2.625rem auto;
  height: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__title {
  margin-top: 0;
}
.order__text {
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1.4375rem;
  max-width: 20rem;
  margin-top: 0.75rem;
}
.order__num {
  position: absolute;
  content: "";
  top: -2.34375rem;
  bottom: 0;
  left: 1.34375rem;
  right: auto;
  margin: auto;
  background: linear-gradient(101.62deg, #1549d0 -3.13%, #17cdcd 174.19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.125rem;
  line-height: 3.625rem;
  font-weight: 700;
}

.switch-radio__input {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
}
.switch-radio__input:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -50%;
  right: 0;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 62.5rem;
  background-color: #233855;
}
.switch-radio__input:checked:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 62.5rem;
  z-index: 2;
  background-color: #1549d0;
}
.switch-radio__label {
  margin-left: 1.25rem;
}
/*# sourceMappingURL=style.css.map */