@import "./vars&mixins.scss";

@include font(
  "NeueMachina-Ultrabold",
  "NeueMachina-Ultrabold",
  "800",
  "normal"
);
@include font("TTCommons-Medium", "TTCommons-Medium", "600", "normal");

@import "../../node_modules/sass-rem/rem";

/*normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* @media (max-width: 768px) {
  * {
    font-size: rem(14px);
  }
} */
/* @media (max-width: 650px) {
  * {
    font-size: rem(13px);
  }
} */
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
b nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  color: $primaryColor;
  line-height: 1;
  font-family: "Open Sans";
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: $primaryColor;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

.container,
.container-md {
  max-width: rem(1224px);
  height: 100%;
  margin: auto;
  padding-left: rem(12px);
  padding-right: rem(12px);
  overflow: hidden;
}

.container-md {
  overflow: visible;
  max-width: rem(1132px);
}

.body--noscroll {
  overflow: hidden;
}

.page {
  background: url("../assets/backgrounds/main/main-background.png") no-repeat
    center center/cover;
  position: relative;

  /*   transition: background 0.2s ease-in-out 0.2s; */
  &__wrapper {
    position: relative;
  }

  &__navigtion {
    padding-left: rem(12px);
    @include position(absolute, "", rem(108px), auto, 0, auto, auto);
  }

  &__sidebar {
    height: calc(100% - 66px);
    width: 100%;

    @include position(absolute, "", 0, auto, 0, auto, auto);
    position: absolute;
    top: 0;
    height: 100%;
    visibility: hidden;

    transition: all 0.3s ease-in-out;
  }

  &__sidebar--active {
    visibility: visible;
  }
}

.page--main-background {
  background-color: #192942;
  background-image: none;
}

.page_screen_full {
  height: 100vh !important;
}

.page_sec_color {
  background: #192942;
}

.navigtion-page {
  display: flex;
  &__item + &__item {
    margin-left: rem(22px);
    position: relative;
    opacity: 0.6;
    &:before {
      @include position(
        absolute,
        url("../assets/svg/page-pagination-icon.svg"),
        rem(-10px),
        0,
        rem(-15px),
        auto,
        auto
      );
      width: rem(10px);
      height: rem(10px);
    }
  }
}

.section {
  padding-bottom: rem(140px);

  &__header {
    margin-top: rem(140px);
    margin-bottom: rem(70px);
  }

  &__header-content {
    position: relative;
    z-index: 0;
  }

  &__sec-title {
    @include position(absolute, "", 0, 0, auto, 0, auto);
    -webkit-text-stroke: 1px #203656;
    color: transparent;
    height: 100% !important;
    display: flex;
    align-items: center;

    &:hover {
      -webkit-background-clip: text !important;
      -webkit-text-stroke: 1px transparent;
      background: linear-gradient(
        98.72deg,
        rgba(21, 73, 208, 0.26) 5.11%,
        #17cdcd 113.04%
      );

      color: #0f2441;

      /* 
      border: 1px solid;

border-image-source: linear-gradient(98.72deg, rgba(21, 73, 208, 0.26) 5.11%, #17CDCD 113.04%); */

      /* color: #0f2441; */
    }

    letter-spacing: 0.02em;
    font-size: rem(80px);
    font-weight: 700;
    z-index: -1;
    height: rem(58px);
    line-height: rem(58px);
  }
  &__title {
    z-index: 1;
    margin-top: rem(30px);
    line-height: rem(58px);
    font-size: rem(50px);
    max-width: rem(584px);
    letter-spacing: 0.02em;
    font-weight: 700;
    /* @include flexbox(column, space-between, center); */
  }

  &__title-span {
    line-height: rem(24px);
    font-family: "Nunito";
    font-size: rem(20px);
    font-weight: 600;
  }
}

.page_screen_full + .section--sec {
  padding-top: rem(20px);
}

.item {
  @include flexbox(column, center, center);
  &__title {
    line-height: rem(30px);
    font-size: rem(22px);
    font-weight: 700;
    margin-top: rem(18px);
  }

  &__title-medium {
    font-size: rem(18px);
    line-height: rem(26px);
    font-weight: 600;
  }
  &__text {
    line-height: rem(26px);
    font-size: rem(16px);
    font-weight: 400;
    margin-top: rem(12px);
  }
  &__text-medium {
    line-height: rem(23px);
    font-weight: 400;
    margin-top: rem(12px);
    font-size: rem(15px);
  }
  &__price {
    font-size: rem(20px);
    line-height: rem(24px);
    font-weight: 600;
  }

  /*   @media (max-width: 540px) {
    &__price {
      line-height: rem(20px);
      font-size: rem(16px);
    }

    &__title {
      line-height: rem(24px);
      font-size: rem(20px);
    }
  } */
}

.order {
  @include grid(
    0,
    rem(80px),
    rem(30px),
    1,
    1fr,
    auto-fill,
    rem(380px),
    rem(380px)
  );
  justify-content: center;

  &__wrapper {
    background: url("../assets/svg/dashed-image-medium.svg");
    background-size: contain;
    background-repeat: no-repeat;
    /*Horizontal*/
    // background-image: linear-gradient(
    //   to right,
    //   black 33%,
    //   rgba(255, 255, 255, 0) 0%
    // );
    // background-position: bottom;
    // background-size: 3px 1px;
    // background-repeat: repeat-x;

    // /*Vertical*/
    // background-image: linear-gradient(black 33%, rgba(255, 255, 255, 0) 0%);
    // background-position: right;
    // background-size: 1px 3px;
    // background-repeat: repeat-y;
    position: relative;
  } /* border: 1px solid; */

  &__item {
    margin: rem(42px) auto;
    height: rem(200px);
    @include flexbox(column, center, center);
  }

  &__title {
    margin-top: 0;
  }

  &__text {
    text-align: center;
    font-size: rem(15px);
    line-height: rem(23px);
    max-width: rem(320px);
    margin-top: rem(12px);
  }

  &__num {
    @include position(absolute, "", rem(-37.5px), 0, rem(21.5px), auto, auto);
    background: linear-gradient(101.62deg, #1549d0 -3.13%, #17cdcd 174.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: rem(50px);
    line-height: rem(58px);
    font-weight: 700;
  }
}

.switch-radio {
  &__input {
    position: relative;
    width: rem(12px);
    height: rem(12px);
    &:after {
      @include position(absolute, "", 0, 0, rem(-50%), 0, auto);
      width: rem(24px);
      height: rem(24px);
      border-radius: rem(1000px);
      background-color: #233855;
    }
  }
  &__input:checked {
    &:before {
      @include position(absolute, "", 0, 0, 0, 0, auto);
      width: rem(12px);
      height: rem(12px);
      border-radius: rem(1000px);
      z-index: 2;
      background-color: $accentColor;
    }
  }

  &__label {
    margin-left: rem(20px);
  }
}
