.get {
  background: url("../assets/backgrounds/main/get-background.svg") no-repeat
    center center/cover;

  &__header {
    margin-bottom: 40px;
  }
  &__body {
    @include flexbox(row, baseline, baseline);
  }

  &__left {
    align-self: flex-start;
  }
  &__left,
  &__right {
    flex: 1;
  }

  &__right {
    margin-left: 147px;
    margin-top: 20px;
  }
  &__list {
    padding-top: 50px;
  }
  &__img {
    margin-top: 0;
  }
  &__item {
    margin-left: 16px;
    padding-left: 18px;
    font-weight: 400;
  }
  &__item + &__item {
    margin-top: 18px;
  }
  &__item::marker {
    content: url("../../assets/svg/check.svg");
  }
}
