.get {
  background: url("../assets/backgrounds/main/get-background.svg") no-repeat
    center center/cover;

  &__header {
    margin-bottom: rem(40px);
  }
  &__body {
    @include flexbox(row, baseline, baseline);
  }

  &__left {
    align-self: flex-start;
  }

  &__right {
    margin-left: rem(147px);
    margin-top: rem(20px);
  }
  &__list {
    padding-top: rem(50px);
  }
  &__img {
    margin-top: 0;
  }
  &__item {
    margin-left: rem(16px);
    padding-left: rem(18px);
    font-weight: 400;
  }
  &__item + &__item {
    margin-top: rem(18px);
  }
  &__item::marker {
    content: url("../../assets/svg/check.svg");
  }
}
