.opportunity {
  background: url("../assets/backgrounds/main/opportunity-background.svg")
    no-repeat center center/cover;
  &__header {
    margin-bottom: 108px;
  }
  &__body {
    /*     @include flexbox(row, space-between, space-between); */
    @include grid(0, 75px, 32px, 1, 1fr, auto-fit, 300px, 0.8fr);
    justify-content: center;
    justify-content: center;
  }

  &__item {
    align-items: flex-start;
  }
}

.item-opportunity {
  background-color: #3f3d5f;
  border-radius: 12px;
  position: relative;
  padding-bottom: 32px;
  &__wrapper {
    margin-top: 64px;
    margin-left: 24px;
  }
  &__img {
    @include position(absolute, "", -256px, 0, 21.5px, auto, auto);
  }
  &__text {
    max-width: 480px;
  }
}

.opportunity-feature {
  &__title {
    margin-top: 41.5px;
  }
  &__text {
    margin-top: 12px;
    text-align: center;
    max-width: 226px;
  }
  &__img {
    height: 81px;
  }
}
