.main {
  overflow: hidden;
  margin-top: 84px;
  padding-bottom: 50px;
  &__wrapper {
    overflow: visible;
  }
  &__body {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 36px;
  }

  &__body--mg-b {
    margin-top: 256px;
  }

  &__body--base {
    width: 551px;
  }

  &__body-wrapper {
    /*     position: relative;

    position: relative; */
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__content {
    @include flexbox(row, space-between, flex-start);
    /* margin-top: 50px; */
    height: 100%;
    position: relative;
  }
  &__left {
    margin-top: 65px;
  }
  &__left--email {
    margin-top: 35px;
  }

  &__title,
  &__title-base {
    font-size: 62px;
    font-weight: 700;
    margin-top: 28px;
    max-width: 560px;
  }
  &__title--sec {
    font-size: 45px;
  }

  &__elipse-mobile {
    display: none;
  }

  &__tariffs-btn {
    width: 140px;
  }

  &__right {
    @include flexbox(row, flex-end, baseline);
    flex: 0.9;
    position: relative;
  }

  &__downloads,
  &__updates {
    @include position(absolute, "", 0, 0, 0, 0, auto);
    @include flexbox(column, center, center);
  }

  &__downloads {
    width: 117.5px;
    height: 117.5px;
    left: 0;
    right: -352px;
    top: auto;
    bottom: 0;
  }

  &__updates {
    width: 146px;
    height: 146px;
    left: 0;
    right: -112px;
    top: 170px;
  }

  &__text,
  &__text-base {
    margin-top: 38px;
    max-width: 328px;
    line-height: 22px;
    font-size: 18px;
  }
  &__title-span {
    color: #22dddd;
  }
  &__title-base {
    max-width: 816px;
  }
  &__text-base {
    max-width: 568px;
  }
  &__tariffs {
    margin-top: 61px;
  }
}

.main--mail {
  margin-top: 114px;
}
.downloads-main {
  border-radius: 100px;
  background: linear-gradient(90deg, #83a6ff -0.49%, #4d6de2 99.88%);

  &__title {
    margin: 0;
  }
}

.updates-main {
  background: url("../assets/svg/ellipse.svg") no-repeat center center/cover;
  border-radius: 100px;
  &__title {
    margin: 0;
  }
}
