.main {
  overflow: hidden;
  margin-top: rem(84px);
  padding-bottom: rem(50px);
  &__wrapper {
    overflow: visible;
  }
  &__body {
    width: 100%;
    margin-top: rem(50px);
    margin-bottom: rem(36px);
  }

  &__body--mg-b {
    margin-top: rem(256px);
  }

  &__body--base {
    width: rem(551px);
  }

  &__body-wrapper {
    /*     position: relative;

    position: relative; */
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__content {
    @include flexbox(row, space-between, flex-start);
    /* margin-top: rem(50px); */
    height: 100%;
    position: relative;
  }
  &__left {
    margin-top: rem(65px);
  }
  &__left--email {
    margin-top: rem(35px);
  }

  &__title,
  &__title-base {
    font-size: rem(62px);
    font-weight: 700;
    margin-top: rem(28px);
    max-width: rem(560px);
  }
  &__title--sec {
    font-size: rem(45px);
  }

  &__elipse-mobile {
    display: none;
  }

  &__tariffs-btn {
    width: rem(140px);
  }

  &__right {
    @include flexbox(row, flex-end, baseline);
    flex: 0.9;
    position: relative;
  }

  &__downloads,
  &__updates {
    @include position(absolute, "", 0, 0, 0, 0, auto);
    @include flexbox(column, center, center);
  }

  &__downloads {
    width: rem(117.5px);
    height: rem(117.5px);
    left: 0;
    right: rem(-352px);
    top: auto;
    bottom: 0;
  }

  &__updates {
    width: rem(146px);
    height: rem(146px);
    left: 0;
    right: rem(-112px);
    top: rem(170px);
  }

  &__text,
  &__text-base {
    margin-top: rem(38px);
    max-width: rem(328px);
    line-height: rem(22px);
    font-size: rem(18px);
  }
  &__title-span {
    color: #22dddd;
  }
  &__title-base {
    max-width: rem(816px);
  }
  &__text-base {
    max-width: rem(568px);
  }
  &__tariffs {
    margin-top: rem(61px);
  }
}

.main--mail {
  margin-top: rem(114px);
}
.downloads-main {
  border-radius: rem(100px);
  background: linear-gradient(90deg, #83a6ff -0.49%, #4d6de2 99.88%);

  &__title {
    margin: 0;
  }
}

.updates-main {
  background: url("../assets/svg/ellipse.svg") no-repeat center center/cover;
  border-radius: rem(100px);
  &__title {
    margin: 0;
  }
}
