.services {
  &__title {
    font-size: rem(50px);
    font-weight: 700;
  }
  background: #192942;
  &__header {
    /*     margin-top: rem(50px); */
  }
  &__pages {
    margin-top: rem(70px);
  }

  &__footer {
    margin-top: rem(100px);
    @include flexbox(row, center, center);
  }

  &__line {
    margin-top: rem(32px);
    height: rem(1px);
    background-color: #302f4b;
  }
}

.content-services {
  @include grid(0, rem(32px), rem(32px), 1, 1fr, auto-fit, rem(255px), 1fr);
  justify-items: center;
  &__item {
    /*    height: rem(316px); */
    position: relative;
    z-index: 0;
    width: 100%;
    flex: 1;
    background-color: #3f3d5f;
    border-radius: rem(12px);
    transition: all 0.2s ease-in-out;
  }
  &__item:hover .services-item__title {
    display: none;
  }
  &__item:hover .services-item__btn {
    display: flex;
    margin-top: rem(32px);
    &:after {
      content: none;
    }
  }

  &__item:nth-child(even) .services-item__header {
    &::after {
      background: linear-gradient(90deg, #83a6ff -0.49%, #6381ee 99.88%);
    }
  }
}

.pagination {
  margin-top: rem(80px);
  @include flexbox(row, center, center);
  &__content {
    @include flexbox(row, space-between, center);
  }

  &__item + &__item {
    margin-left: rem(19px);
  }

  &__btn {
    z-index: 0;
    position: relative;
    &:hover {
      color: #2561fa;
    }
    &:active {
      color: $accentColor;
    }

    &::after {
      @include position(absolute, "", 0, rem(4px), rem(-8.5px), 0, auto);
      border-radius: rem(100px);
      background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
      height: rem(22px);
      width: rem(22px);
      z-index: -1;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }
  }

  &__arrow {
    fill: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  }
  &__btn--active {
    &:hover {
      color: $accentColor !important;
    }
    &:active {
      color: $accentColor !important;
    }
    &::after {
      opacity: 1;
    }
  }
}

.filter {
  &__body {
    /*     --body-transform: 0;
    transform: translate(var(--body-transform)); */
    transform: translate(0);
    @media (max-width: 991px) {
      --body-transform: 0;
      transform: translate(var(--body-transform));
    }
  }
  /*   --body-transform: 0;
      transform: translate(var(--body-transform)); */

  &__list {
    @include flexbox(row, space-between, space-between);
    flex-wrap: wrap;
    column-gap: rem(40px);
  }
  &__link {
    position: relative;
    &:hover {
      color: #2561fa;
    }
    &:active {
      color: $accentColor;
    }

    /*     &::after {
      content: "";
      position: absolute;
      width: 0;
      left: rem(-11px);
      bottom: rem(-35px);
      height: rem(6px);
      border-radius: rem(2px);
      background-color: $accentColor;
      transition: width 0.4s ease-in-out;
    } */
  }
  &__link--active {
    &:hover {
      color: $accentColor !important;
    }
    &:active {
      color: $accentColor !important;
    }
    &::after {
      width: 126%;
    }
  }
}

.services-item {
  &__header {
    border-top-left-radius: rem(12px);
    border-top-right-radius: rem(12px);
    @include flexbox(row, center, center);
    position: relative;
    overflow: hidden;
    /* 
    background: url("../assets/svg/main/advantages/Intersect.svg") no-repeat
    center center/cover; */

    &::after {
      @include position(absolute, "", 0, 0, -25%, 0, auto);
      background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      width: 150%;
      /*     width: 100%;
      height: 100%; */

      z-index: -1;
    }
  }
  &__btn {
    margin-bottom: rem(39px);
    &::after {
      content: "" !important;
    }
  }

  &__btn .btn__span {
    margin: auto;
  }
  &__background {
    @include position(
      absolute,
      url("../assets/svg/main/advantages/intersect.svg"),
      0,
      auto,
      0,
      0,
      auto
    );
    z-index: -1;
  }

  &__body {
    overflow: hidden;
    padding: 0 rem(12px);
  }

  &__text,
  &__title {
    text-align: center;
  }

  &__title {
    max-width: 155px;
    margin: auto;
    margin-top: rem(28px);
    margin-bottom: rem(33px);
  }
  &__text {
    margin: auto;
    max-width: rem(322px);
  }

  &__text-short {
    max-width: rem(312px);
  }
  &__img {
    margin: auto;
    display: block;
  }

  &__btn {
    display: none;
  }
}
