.services {
  &__title {
    font-size: 50px;
    font-weight: 700;
  }
  background: #192942;
  &__header {
    /*     margin-top: 50px; */
  }
  &__pages {
    margin-top: 70px;
  }

  &__footer {
    margin-top: 100px;
    @include flexbox(row, center, center);
  }

  &__line {
    margin-top: 32px;
    height: 1px;
    background-color: #302f4b;
  }
}

.content-services {
  @include grid(0, 32px, 32px, 1, 1fr, auto-fit, 255px, 1fr);
  justify-items: center;
  &__item {
    /*    height: 316px; */
    position: relative;
    z-index: 0;
    width: 100%;
    flex: 1;
    background-color: #3f3d5f;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
  }
  &__item:hover .services-item__title {
    display: none;
  }
  &__item:hover .services-item__btn {
    display: flex;
    visibility: visible;
    opacity: 1;
    margin-top: 32px;
    &:after {
      content: none;
    }
  }

  &__item:nth-child(even) .services-item__header {
    &::after {
      background: linear-gradient(90deg, #83a6ff -0.49%, #6381ee 99.88%);
    }
  }
}

.pagination {
  margin-top: 80px;
  @include flexbox(row, center, center);
  &__content {
    @include flexbox(row, space-between, center);
  }

  &__item + &__item {
    margin-left: 19px;
  }

  &__btn {
    z-index: 0;
    position: relative;
    &:hover {
      color: #29e3f9;
    }
    &:active {
      color: #17b6c9;
    }

    &::after {
      @include position(absolute, "", 0, 4px, -8.5px, 0, auto);
      border-radius: 100px;
      background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
      height: 22px;
      width: 22px;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }
  }

  &__arrow {
    fill: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  }
  &__btn--active {
    &:hover {
      color: $accentColor !important;
    }
    &:active {
      color: $accentColor !important;
    }
    &::after {
      opacity: 1;
    }
  }
}

.filter {
  &__body {
    /*     --body-transform: 0;
    transform: translate(var(--body-transform)); */
    transform: translate(0);
    @media (max-width: 991px) {
      --body-transform: 0;
      transform: translate(var(--body-transform));
    }
  }
  /*   --body-transform: 0;
      transform: translate(var(--body-transform)); */

  &__list {
    @include flexbox(row, space-between, space-between);
    flex-wrap: wrap;
    column-gap: 40px;
  }

  // &__link--active {
  //   &:hover {
  //     color: $accentColor !important;
  //   }
  //   &:active {
  //     color: $accentColor !important;
  //   }
  //   &::after {
  //     width: 126%;
  //   }
  // }
}

.services-item {
  &__header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    @include flexbox(row, center, center);
    position: relative;
    overflow: hidden;
    /* 
    background: url("../assets/svg/main/advantages/Intersect.svg") no-repeat
    center center/cover; */

    &::after {
      @include position(absolute, "", 0, 0, -25%, 0, auto);
      background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      width: 150%;
      /*     width: 100%;
      height: 100%; */

      z-index: -1;
    }
  }
  &__btn {
    margin-bottom: 39px;
    transition: opacity 0.3s ease-in-out;
    /*  display: none; */

    &::after {
      content: "" !important;
    }
    @media (min-width: 768px) {
      @include position(absolute, "", 0, auto, 0, 0, auto);
      opacity: 0;
      margin: 0 12px;
      visibility: hidden;
    }
  }

  &__btn .btn__span {
    margin: auto;
  }
  &__background {
    @include position(
      absolute,
      url("../assets/svg/main/advantages/intersect.svg"),
      0,
      auto,
      0,
      0,
      auto
    );
    z-index: -1;
  }

  &__body {
    // overflow: hidden;
    position: relative;
    padding: 0 12px;
  }

  &__text,
  &__title {
    text-align: center;
  }

  &__title {
    max-width: 155px;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 33px;
  }
  &__text {
    margin: auto;
    max-width: 322px;
  }

  &__text-short {
    max-width: 312px;
  }
  &__img {
    margin: auto;
    display: block;
  }
}
