.article {
  &__title {
    font-size: 50px;
    font-weight: 700;
  }
  background: url("../assets/backgrounds/main/programm-background.svg")
    no-repeat center center/cover;

  &__main {
    /*    margin-top: 50px; */

    @include flexbox(row, space-between, center);
  }

  &__interest,
  &__articles,
  &__directions {
    margin-top: 120px;
  }

  /*   &__right {
    margin-left: 135px;
  } */

  &__img {
    margin-bottom: 40px;
  }
}

.article-data {
  margin-right: 49px;
  &__text {
    margin-top: 0;
    max-width: 773px;
  }
  &__text + &__text {
    margin-top: 23px;
  }
  &__text-overflow {
    margin-top: 20px;
  }
}
