.article {
  margin-top: rem(124px);
  &__title {
    font-size: rem(50px);
    font-weight: 700;
  }
  background: url("../assets/backgrounds/main/programm-background.svg")
    no-repeat center center/cover;

  &__main {
    margin-top: rem(50px);

    @include flexbox(row, space-between, center);
  }

  &__interest,
  &__articles,
  &__directions {
    margin-top: rem(82px);
  }

  /*   &__right {
    margin-left: rem(135px);
  } */

  &__img {
    margin-bottom: rem(40px);
  }
}

.article-data {
  &__text {
    margin-top: rem(0);
    max-width: rem(773px);
  }
  &__text + &__text {
    margin-top: rem(23px);
  }
  &__text-overflow {
    margin-top: rem(20px);
  }
}
