.difference {
  background: url("../assets/backgrounds/base/difference-background.svg")
    no-repeat center center/cover;

  &__title {
    max-width: rem(811px);
  }
  &__body {
    @include flexbox(row, baseline, flex-start);
  }

  &__sec-title {
    max-width: rem(451px);
  }

  &__right {
    margin-left: rem(40px);
  }

  &__item + &__item {
    margin-top: rem(152px);
  }
  &__item:nth-child(2) {
    margin-left: rem(82px);
  }
  &__item:nth-child(2) .item-difference__order {
    &::after {
      background: linear-gradient(90deg, #83a6ff -0.49%, #4d6de2 99.88%);
    }
  }
}

.item-difference {
  display: grid;
  grid-template-areas:
    "order title"
    "order text"
    ".     text"
    ".     text";
  grid-template-columns: 0.18fr 1fr;
  grid-template-rows: 0.4fr 1fr 1fr 1fr;
  &__title {
    margin-top: 0;
  }

  &__left {
    grid-area: order;
  }

  &__title {
    z-index: 1;
    grid-area: title;
  }
  &__text {
    z-index: 1;
    grid-area: text;
    max-width: rem(484px);
  }
  &__right {
    margin-left: rem(12px);
    z-index: 1;
  }

  &__sec {
    margin-left: rem(10px);
  }

  margin: 0;
  &__order {
    font-size: rem(76px);
    font-weight: 700;
    z-index: 1;
    padding-top: rem(12px);
    position: relative;
    /*   display: flex;
    justify-content: center; */
    display: block;
    &::after {
      @include position(absolute, "", rem(-5px), 0, 0, 0, auto);
      border-radius: rem(100px);
      width: rem(122px);
      height: rem(122px);
      z-index: -1;
      background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    }
  }
}
