.direction {
  &__section {
    padding-bottom: rem(40px);
  }
  background: url("../assets/backgrounds/base/direction-background.svg")
    no-repeat center center/cover;
  &__body {
    margin-top: rem(32px);
    @include flexbox(column, flex-start, flex-start);

    position: relative;
  }

  &__body-wrapper {
    z-index: 1;
    margin: rem(17px);
  }

  &__background {
    @include position(absolute, "", 0, 0, 0, 0, auto);
    width: 100%;
    height: 100%;
    z-index: 0;
    /*   overflow: visible;
    border: 8px solid transparent;
    -webkit-border-image: url("../assets/svg/dashed-image-large.svg"); */
    // background: url("../assets/svg/dashed-image-large.svg");
    // /*     background-size: cover;
    // background-position: center; */
    // background-size: cover;
    // background-repeat: no-repeat;
  }

  &__background-img {
    width: 100%;
    height: 100%;
    /*     object-fit: cover;
    display: block; */
  }

  &__background-rect {
    width: 100%;
    height: 100%;
  }

  &__content {
    margin-bottom: rem(16px);
  }
  &__content-overflow {
    margin-top: 0;
    overflow: hidden;
    height: initial !important;
    max-height: 100%;
    transition: all 0.3s ease-in-out;
  }

  &__content-overflow--visible {
    visibility: visible !important;
  }

  &__title {
    max-width: rem(481px);
  }

  &__main-title {
    max-width: rem(463px);
  }

  &__list {
    transition: max-height 0.3s ease-in-out;
    /*     display: flex;
    overflow: hidden;
    flex-wrap: wrap; */

    display: flex;
    flex-wrap: wrap;
  }
  &__list + &__list {
    margin-top: rem(16px);
  }
  &__list:hover {
    max-height: 1000px;
  }
  &__item {
    margin-top: 0;
  }
  &__accordion {
    z-index: 2;
    display: none;
  }
  /*   &__item + &__item {
 
  } */

  &__item--margin {
    margin-left: rem(16px);
    padding-left: rem(18px);
    position: relative;
    &:before {
      @include position(absolute, "", 0, 0, rem(-5px), auto, auto);
      width: rem(8px);
      height: rem(8px);
      border-radius: rem(100px);
      background: linear-gradient(90deg, #83a6ff -0.49%, #4d6de2 99.88%);
    }
  }
  &__icon {
    margin-left: rem(12px);
  }
  &__accordion-body--hide &__icon {
    transform: rotate(180deg);
  }
  /*   &__item::marker {
    content: url("../../assets/svg/ellipse-list.svg");

  } */
}
