.download {
  &__section {
    padding-bottom: rem(40px);
  }
  background: url("../assets/backgrounds/base/download-background.svg")
    no-repeat center center/cover;
  &__title {
    max-width: rem(830px);
    text-align: center;
    margin: 0 auto;
  }

  &__header {
    margin-bottom: rem(32px);
  }
  &__sec-title {
    right: 0;
    left: 0;
    top: rem(-20px);
    text-align: center;
    bottom: auto;
    justify-content: center;
  }
  &__body {
    position: relative;
  }

  &__content {
    @include flexbox(column, center, center);
  }

  &__text {
    margin-top: 0;
    max-width: rem(605px);
    text-align: center;
  }

  &__btn {
    width: rem(277px);
    height: rem(58px);
    border-radius: rem(12px);
    margin-top: rem(32px);
    font-size: rem(16px);
    color: $primaryColor;
    background: linear-gradient(90deg, #16d9e3 0%, #29c2e8 47%, #46aef7 100%);
    position: relative;
    &:after {
      @include position(
        absolute,
        url("../../assets/svg/bases/download/icon.svg"),
        0,
        0,
        rem(-192px),
        0,
        auto
      );
      height: rem(24px);
    }
  }
  &__footer {
    margin-top: rem(50px);
  }
  &__info {
    max-width: rem(500px);
    margin-left: rem(10px);
    margin: auto;
    position: relative;

    &:before {
      @include position(absolute, "", 0, 0, rem(-10px), auto, auto);
      width: rem(2px);
      height: 100%;
      background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    }
  }
  &__use {
    @include position(absolute, "", rem(-85px), auto, 0, auto, auto);
    @include flexbox(column, center, center);
    border-radius: rem(100px);
    width: rem(152px);
    height: rem(152px);
    background: url("../assets/svg/ellipse.svg") no-repeat center center/cover;
    // background-clip: padding-box; /* !importanté */
    // border: solid rem(1px) transparent; /* !importanté */
    // border-image: linear-gradient(90deg, #83a6ff -0.49%, #4d6de2 99.88%);
    // border-image-slice: 1;
  }
}

.use-download {
  &__text {
    text-align: center;
  }
}
