.getInformation {
  &__section {
    padding-bottom: 40px;
  }
  background: url("../assets/backgrounds/base/getInformation-background.svg")
    no-repeat center center/cover;
  &__title {
    max-width: 811px;
    text-align: center;
    margin: 0 auto;
  }

  &__header {
    margin-bottom: 32px;
  }
  &__sec-title {
    right: 0;
    left: 0;
    top: -50px;
    text-align: center;
    bottom: auto;
    justify-content: center;
    -webkit-text-stroke: 1px #1d56e9;
  }
  &__body {
    @include flexbox(row, center, center);
  }

  &__text {
    margin-top: 0;
    max-width: 880px;
    text-align: center;
  }
}
