.parametres {
  &__section {
    padding-bottom: rem(60px);
  }
  background: url("../assets/backgrounds/base/parametres-background.svg")
    no-repeat center center/cover;
  &__body {
    @include flexbox(row, space-between, center);
  }

  &__main-title {
    max-width: rem(888px);
  }

  &__sec-title {
    max-width: rem(563px);
  }

  &__left {
    height: 100%;
    /*     margin-bottom: rem(80px); */
  }
  &__list {
    display: grid;
    grid-template-columns: rem(230px) rem(120px);
    grid-column-gap: 0;
  }

  &__img {
    margin-top: rem(-40px);
  }

  &__text {
    margin-top: rem(70px);
    max-width: rem(458px);
  }
  &__item {
    margin-left: rem(16px);
    margin-top: rem(18px);
    padding-left: rem(18px);
  }

  &__item::marker {
    content: url("../../assets/svg/check.svg");
  }
}
