.parametres {
  &__section {
    padding-bottom: 60px;
  }
  background: url("../assets/backgrounds/base/parametres-background.svg")
    no-repeat center center/cover;
  &__body {
    @include flexbox(row, space-between, center);
  }

  &__main-title {
    max-width: 888px;
  }

  &__sec-title {
    max-width: 563px;
  }

  &__left {
    height: 100%;
    /*     margin-bottom: 80px; */
  }
  &__list {
    display: grid;
    grid-template-columns: 230px 120px;
    grid-column-gap: 0;
  }

  &__img {
    margin-top: -40px;
  }

  &__text {
    margin-top: 70px;
    max-width: 458px;
  }
  &__item {
    margin-left: 16px;
    margin-top: 18px;
    padding-left: 18px;
  }

  &__item::marker {
    content: url("../../assets/svg/check.svg");
  }
}
