.contact {
  margin-top: rem(124px);
  &__title {
    font-size: rem(50px);
    font-weight: 700;
  }
  &__body {
    @include flexbox(row, space-between, space-between);
  }

  &__left {
    margin-top: rem(70px);
  }
  &__right {
    margin-top: rem(-42px);
    padding: 0 !important;
  }

  &__item {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }

  &__item + &__item {
    margin-top: rem(38px);
  }

  &__form {
    width: rem(482px);
    /*  width: calc(482 / 1200 * 100%); */
  }

  &__title {
    text-align: left !important;
    margin-right: auto;
  }

  /* 
  &__footer {
    @include grid(
      0,
      rem(80px),
      rem(30px),
      1,
      1fr,
      auto-fill,
      rem(277px),
      rem(277px)
    );
  }
 */
}

.item-contact {
  &__title {
    font-size: rem(18px);
    line-height: rem(26px);
    font-weight: 600;
  }

  &__right {
    margin-left: rem(18px);
  }
  &__img {
    margin-top: rem(18px);
  }
}

.contact-form {
  @include flexbox(column, space-between, flex-start);
  background-color: $primaryColor;
  border-radius: rem(12px);
  padding: rem(42px) rem(52px);
  &__title {
    color: initial;
    margin-top: 0;
    margin-right: auto;
  }
  /*   &__content {
    margin-top: rem(100px);
  } */

  &__item,
  &__btn {
    width: 100%;
    margin-top: rem(18px);
  }

  &__btn {
    width: 100%;
  }

  &__text {
    font-size: rem(14px);
    color: #9497b1;
    line-height: rem(20px);
  }

  &__link {
    color: inherit;
    text-decoration: underline !important;
  }

  &__input,
  &__textarea {
    width: 100%;
    height: rem(50px);
    background-color: #f3f6fb;
    color: #9497b1;
    padding-left: rem(22px);
    line-height: rem(22px);
    border-radius: rem(8px);
  }

  &__textarea {
    padding-top: rem(14px);
    height: rem(62px);
    resize: none;
  }

  &__input:focus {
    outline: none;
  }
}
