.community {
  background: url("../assets/backgrounds/main/cooperartion-background.png")
    no-repeat center center/cover;
  &__body {
    margin-top: rem(105px);
  }

  &__footer {
    margin-top: rem(60px);
    position: relative;
    &:before {
      @include position(absolute, "", 0, 0, 0, auto, auto);
      width: rem(2px);
      height: 100%;
      background-color: #22dddd;
    }
  }

  &__advantage {
    margin-left: rem(12px);
    max-width: rem(554px);
  }
}

.item-community {
  margin: 0;
}
