/* .card__small-blue {
  animation: 2s linear 0s infinite alternate small-blue-color;
  transition: none !important;
} */
.card {
  &__green {
    animation: 3s linear 0s infinite green-color;
  }

  &__greenSec {
    animation: 3s linear 0s infinite green-colorSec;
  }

  &__big-red {
    animation: 3s linear 0s infinite big-red-color;
  }
  &__big-redSec {
    animation: 3s linear 0s infinite big-red-colorSec;
  }

  &__greenToBlue {
    animation: 3s linear 0s infinite greenToBlue-color;
  }
  &__greenToBlueSec {
    animation: 3s linear 0s infinite greenToBlueSec-color;
  }

  &__blueToPurple {
    animation: 3s linear 0s infinite blueToPurple-color;
  }

  &__blueToRed {
    animation: 3s linear 0s infinite blueToRed-color;
  }
  &__blueToRedLine {
    animation: 3s linear 0s infinite blueToRedLine-color;
  }
  &__blueToRedCircle {
    animation: 3s linear 0s infinite blueToRedCircle-color;
  }
}
.card__big-greenSquare {
}

.card .card__big-red {
  /*   animation: 3s step-start 0s infinite big-red-color; */
  // animation: 3s linear 0s infinite big-red-color;
  /* animation-timing-function: step-start; */
  /*  1.8s linear 0s step-end infinite big-red-color-backward; */
  // animation-timing-function: step-end;
}

.card__big-green-filter {
  animation: 2s linear 0s infinite alternate big-green-color;

  /*   background: linear-gradient(
      122.06deg,
      rgba(255, 255, 255, 0.051) -10.44%,
      rgba(255, 255, 255, 0.1) 32.27%,
      rgba(255, 255, 255, 0) 34.06%
    ),
    rgba(106, 195, 126, 0.3); */
}

@keyframes small-blue-color {
  0% {
    fill: $accentColor;
  }

  100% {
    fill: red;
  }
}

@keyframes green-color {
  from {
    fill: #6ac37e;
  }
  to {
    fill: #1bffff;
  }
}
@keyframes green-colorSec {
  from {
    fill: #4cf253;
  }
  to {
    fill: #4cf2c0;
  }
}

@keyframes big-red-color {
  0% {
    fill: #dd2265;
  }

  100% {
    fill: #5418ff;
  }
}
@keyframes big-red-colorSec {
  0% {
    fill: #dd2265;
  }

  100% {
    fill: #5115d0;
  }
}

@keyframes greenToBlue-color {
  from {
    fill: #6ac37e;
  }
  to {
    fill: #1549d0;
  }
}
@keyframes greenToBlueSec-color {
  from {
    fill: #4cf253;
  }
  to {
    fill: #275de8;
  }
}
@keyframes blueToPurple-color {
  from {
    fill: #1549d0;
  }
  to {
    fill: #5115d0;
  }
}
@keyframes blueToRed-color {
  from {
    fill: #1549d0;
  }
  to {
    fill: #dd2265;
  }
}
@keyframes blueToRedLine-color {
  from {
    fill: #5092de;
  }
  to {
    fill: #ffdfeb;
  }
}
@keyframes blueToRedCircle-color {
  from {
    fill: #2f80ed;
  }
  to {
    fill: #ff045e;
  }
}
