.notFound {
  overflow: hidden;
  margin-top: 90px;

  &__content {
    /* margin-top: 50px; */
    height: 100%;
    position: relative;
  }
  &__body {
    @include flexbox(row, baseline, center);
  }

  &__title {
    text-transform: uppercase;
    margin-top: 35px;
    margin-left: 33px;
  }
  &__sec-title {
    max-width: 980px;
  }
  &__text {
    margin-top: 27px;
    max-width: 608px;
  }
}
