.faq {
  background: rgba(46, 45, 68, 1);
  /*   background: url("../../../assets/backgrounds/main/FAQ-background.svg") no-repeat
    center center/cover; */
}
.faq-btn {
  float: right;
}
.item-faq {
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid #3f3d5f;
  &__wrapper {
    margin: 32px 0;
  }

  &__header {
    @include flexbox(row, space-between, center);
    margin-bottom: -12px;
  }

  &__body {
    cursor: auto;
  }

  &__title {
    margin-top: 0;
    font-size: 28px;
    margin-right: 10px;
  }

  &__text {
    max-width: 955px;
    overflow: hidden;
    --max-heightFaq: 0;
    max-height: var(--max-heightFaq);
    height: auto;
    transition: all 0.5s ease-in-out;
    // cubic-bezier(0.82, 1.24, 0.16,-0.27)
    //   transition: max-height 0.7s cubic-bezier(0.1, 0.9, 0.9, 0.1);
    /*  transition: max-height 0.7s cubic-bezier(0.94, 0.43, 0, 0.51); */
  }

  &__right {
    align-self: flex-start;
    height: 36px;
    width: 36px;
  }
  &__togglers {
    height: 36px;
    width: 36px;
    position: relative;
  }

  &__underline {
    background-color: #2b4263;
    width: 100%;
    height: 1px;
    margin-top: 32px;
  }

  &__toggler {
    height: 36px;
    @include position(absolute, "", 0, 0, 0, 0, auto);
  }
}
