.faq {
  background: url("../assets/backgrounds/main/FAQ-background.svg") no-repeat
    center center/cover;
  /*   background: url("../../../assets/backgrounds/main/FAQ-background.svg") no-repeat
    center center/cover; */
}

.item-faq {
  overflow: hidden;
  cursor: pointer;
  border-bottom: rem(1px) solid #2b4263;
  &__wrapper {
    margin: rem(32px) 0;
  }

  &__header {
    @include flexbox(row, space-between, center);
    margin-bottom: rem(-12px);
  }

  &__body {
    cursor: auto;
  }

  &__title {
    margin-top: 0;
    margin-right: rem(10px);
  }

  &__text {
    max-width: rem(955px);
    overflow: hidden;
    --max-heightFaq: 0;
    max-height: var(--max-heightFaq);
    height: auto;
    transition: all 0.5s ease-in-out;
    // cubic-bezier(0.82, 1.24, 0.16,-0.27)
    //   transition: max-height 0.7s cubic-bezier(0.1, 0.9, 0.9, 0.1);
    /*  transition: max-height 0.7s cubic-bezier(0.94, 0.43, 0, 0.51); */
  }

  &__right {
    align-self: flex-start;
    height: rem(36px);
    width: rem(36px);
  }
  &__togglers {
    height: rem(36px);
    width: rem(36px);
    position: relative;
  }

  &__underline {
    background-color: #2b4263;
    width: 100%;
    height: rem(1px);
    margin-top: rem(32px);
  }

  &__toggler {
    height: rem(36px);
    @include position(absolute, "", 0, 0, 0, 0, auto);
  }
}
