.suit {
  background: url("../assets/backgrounds/mail/suit-background.svg") no-repeat
    center center/cover;
  &__header {
    margin-bottom: rem(108px);
  }
  &__body {
    /*     @include flexbox(row, space-between, space-between); */
    @include grid(0, rem(75px), rem(32px), 1, 1fr, auto-fit, rem(300px), 1fr);
    justify-content: center;
  }

  &__item {
    align-items: flex-start;
  }
}

.item-suit {
  background-color: #3f3d5f;
  border-radius: rem(12px);
  position: relative;
  padding-bottom: 32px;
  &__wrapper {
    margin-top: rem(64px);
    margin-left: rem(24px);
  }
  &__img {
    @include position(absolute, "", rem(-256px), 0, rem(21.5px), auto, auto);
  }
  &__text {
    max-width: rem(320px);
  }
}

.opportunity-feature {
  &__title {
    margin-top: rem(41.5px);
  }
  &__text {
    margin-top: rem(12px);
    text-align: center;
    max-width: rem(226px);
  }
  &__img {
    height: rem(81px);
  }
}
