.effect {
  &__section {
    padding-bottom: rem(40px);
  }
  background: url("../assets/backgrounds/mail/effect-background.svg") no-repeat
    center center/cover;
  &__body {
    @include flexbox(row, space-between, baseline);
  }

  &__main-title {
    max-width: rem(885px);
  }

  &__title {
    max-width: rem(585px);
  }

  &__left {
    height: 100%;
    /*     margin-bottom: rem(80px); */
  }
  &__list {
    margin-top: rem(32px);
  }

  &__img {
    margin-top: rem(-40px);
  }

  &__text {
    margin-top: rem(70px);
    max-width: rem(458px);
  }
  &__item {
  }

  &__item::marker {
    content: url("../../assets/svg/check.svg");
  }
}

.item-effect {
  &__img {
    margin: auto;
    display: block;
  }
  &__text {
    max-width: rem(219px);
    text-align: center;
  }
}

.footer-effect {
  &__text {
    text-align: center;
    max-width: rem(744px);
    margin: auto;
    margin-top: rem(270px);
    background: linear-gradient(90deg, #83a6ff -0.49%, #4d6de2 99.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
