.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.36);
  top: 0;
  left: 0;
  &__body {
    min-height: 100%;

    /* @include flexbox(column, center, center); */
  }

  &__item {
    @include position(absolute, "", 0, 0, 0, 0, auto);
    @include flexbox(column, center, center);
    min-height: 100%;
    width: 100%;
  }
  &__modal {
    visibility: hidden;
    /*     @include flexbox(column, center, center); */
  }

  &__modal-wrapper {
    padding: rem(36px);
    background-color: $primaryColor !important;
    color: initial !important;
    border-radius: rem(12px);
    position: relative;
    opacity: 0;
    @include flexbox(column, center, center);
    transform: perspective(rem(600px)) translate(0, -100%) rotateX(45deg);
    transition: all 0.5s ease-in-out;
    max-width: rem(450px);
  }
  &__modal--active {
    visibility: visible;
  }
  &__modal--active > &__modal-wrapper {
    transform: perspective(0) translate(0, 0) rotateX(0);
    opacity: 1;
  }

  &__modal-close {
    cursor: pointer;
    @include position(absolute, "", 0, auto, auto, 0, auto);
  }
}

.popup--hidden {
  visibility: hidden;
}

.modal-reference {
  max-width: rem(831px);
  &__info {
    @include flexbox(row, flex-start, flex-start);
    align-self: flex-start;
  }

  &__text {
    margin-top: rem(10px);
  }
}

.reference-info {
  &__text {
    margin-top: 0;
    color: initial;
    margin-left: rem(10px);
  }
}
