/* Portrait tablets and medium desktops */
// (min-width: 992px and
@media (max-width: 1224px) {
  .page {
    &:after {
      top: -477px;
    }
  }

  .nav,
  .header__contacts {
    display: none;
  }

  .header {
    background: rgba(23, 22, 41, 0.82);
  }

  .header__hamburger-menu {
    display: block;
  }
  .main__body-wrapper,
  .effect__img {
    /*    margin-top: 10%; */
    width: 100%;
  }

  .main__illustration {
    width: 42vw;
  }

  .main__email-illustration {
    margin-top: -20% !important;
  }

  .main__body--mg-b {
    margin-top: 160px;
    width: 46%;
  }

  .main__cards {
    /*   width: 73.3%;
    bottom: 159%;
    left: 16%; */
    width: 35%;
    bottom: calc(200 / 1224 * 100%);
    /* margin-left: calc(76 / 991 * 100%); */
  }

  /*   .main__plains {
    width: 40%;
  }
 */
  /*   .main__plain-left {
    bottom: auto;
    top: -21%;
    left: 15%;
    transform: rotate(0);
  }
  .main__plain-right {
    right: 11%;
    bottom: 100%;
  } */

  /*   .advantages__item,
  .advantages__item-center {
    min-width: 40%;
  } */

  .item-programm {
    margin-left: 0 !important;
  }

  /*   .advantages__item:nth-child(3),
  .advantages__item-center {
    margin-left: 32px !important;
  } */

  /*   .programm__item + .programm__item {
    margin-left: 0;
  } */

  /*   .advantages__item-center {
    position: static;
    margin: 0;
    height: 343px;
  }
 */
  /*   .item-advantages {
    margin-left: 40px !important;
  } */

  /*   .advantages__item-center .item-advantages__title {
    margin-top: 32px;
  }
  .advantages__item:nth-child(3) .item-advantages .item-advantages__title {
    margin-top: 18px;
  } */

  .suit__item-mm,
  .suit__item-sm {
    margin-top: 0;
  }
  /*   .togglers-tariff__item:nth-child(3) .togglers-tariff__header {
    margin-bottom: 50px;
  } */

  .afterMailing__right {
    margin-top: 58px;
  }
  .suit__item {
    grid-area: auto !important;
    margin-top: 0 !important;
  }

  .suitBase__body {
    grid-template-areas: none;
  }

  .suitBase__item {
    grid-area: auto !important;
  }

  .item-suitBase__text {
    max-width: initial;
    margin-right: 10px;
  }

  .work__order {
    margin-top: 60px;
  }

  .cities__list,
  .cities__list-hidden {
    grid-template: repeat(1, 1fr) / repeat(auto-fill, minmax(178px, 0.3fr));
  }

  // .direction__body-wrapper {
  //   margin: 50px;
  //   margin-right: 60px;
  // }

  // .direction__body-wrapper {
  //   margin-bottom: 23px;
  // }

  // .direction__list + .direction__list {
  //   margin-top: 22px;
  // }

  .direction__content-overflow {
    margin-top: 0;
    margin-bottom: 0;
    --max-heightDirection: 0;
    max-height: var(--max-heightDirection);
    // visibility: hidden;
  }

  // .direction__content-overflow--visible,
  // .direction__content {
  //   margin-top: 0;
  //   margin-bottom: 22px;
  // }

  .direction__accordion {
    margin-bottom: 20px;
    margin-left: 17px;

    @include flexbox(row, baseline, center);
  }

  .service__right {
    margin-left: 42px;
  }

  .interest-service__slider,
  .usefull-articles__slider {
    @include flexbox(row, space-between, center);
    grid-column-gap: 0;
  }
  .interest-service__slider-item + .interest-service__slider-item,
  .articles-content__slide + .articles-content__slide {
    margin-left: 30px;
  }
  .interest-service__slider-item {
    min-width: 26%;
  }
  .articles-content__slide {
    min-width: 31%;
  }

  /*   .interest-service__slider-item .services-item__img {
    width: 100%;
  } */

  //resizer

  .advantages__resizer,
  .programm__resizer,
  .interest-service__resizer,
  .articles-content__resizer {
    width: 9px;
  }
}

@media (max-width: 991px) {
  .service__left,
  .article__right {
    display: none;
  }

  .footer__nav {
    display: block;
  }

  .notFound__illustration {
    width: 62%;
  }

  .footer__nav {
    margin-bottom: 50px;
  }

  .footer__logo {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .footer__content {
    flex-direction: column;
    align-items: flex-start;
  }
  .company__logo {
    float: left;
  }

  .main__title,
  .main__title-base,
  .section__title,
  .total-price__amount,
  .total-price__amount-rub,
  .service__title,
  .services__title,
  .articles__title,
  .article__title {
    font-size: 40px;
    line-height: 50px;
  }
  .getInformation__sec-title {
    top: -20px;
  }
  /*  .page {
    height: 100%;
  } */
  .page--contact {
    height: 100% !important;
  }

  .main__content--base {
    margin-bottom: 100px;
  }

  .main__text,
  .main__text-base {
    line-height: 27px;
    font-size: 18px;
  }

  .main__illustration {
    margin-top: -3%;
  }

  .main__base-illustration {
    margin-bottom: 462px;
  }

  .community__body,
  .afterMailing__body,
  .work__body {
    align-items: center;
  }

  .community__img,
  .afterMailing__img,
  .work__img {
    width: 100%;
  }

  /*   .advantages__item,
  .advantages__item-center {
    min-width: 50%;
    height: 316px;
  }
  .advantages__item:nth-child(3),
  .advantages__item-center {
    margin-left: 27px !important;
  }
 */

  .programm-content__body {
    display: grid;
    grid-template-areas:
      "img img img"
      "header header header"
      "first first first"
      "second second second"
      "third third third"
      "fourth fourth fourth";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }

  .programm-content__item:first-child {
    @include flexbox(row, flex-start, center);
  }

  .programm-content__img {
    justify-content: center;
  }

  .item-programm {
    margin-top: 0 !important;
  }

  .item-programm__title {
    max-width: none !important;
  }
  /*   .programm__item {
    min-width: 30%;
  }
  .programm__item + .programm__item {
    margin-left: 16px;
  }
  .programm__item {
    font-size: 17px;
  } */

  .get__left {
    align-self: center;
  }
  .get__right {
    margin-left: 50px !important;
    margin-right: 0 !important;
  }

  .download__use {
    display: none;
  }

  .main__downloads,
  .main__updates {
    /*    right: -7rem;
    left: auto;
    top: 961px; */
    bottom: -100px;
  }

  // .main__updates {
  //   /*  left: 20px;
  //   right: auto;
  //   top: 538px; */
  // }

  .section__header {
    margin-top: 110px;
    margin-bottom: 55px;
  }

  .section__second {
    margin-top: 110px;
  }

  /*   .service__header,
  .services__body,
  .articles__body,
  .contact__left {
    margin-top: 60px;
  } */

  .main,
  .contact {
    overflow: hidden;
    margin-top: calc(124 / 991 * 100%);
  }

  .section__content {
    padding-bottom: 110px;
  }
  .get__left,
  .cities__left {
    margin-bottom: 0;
  }

  /*   .item__text {
    font-size: 15px;
    line-height: 24px;
  } */
  /*   .opportunity__body {
    grid-column-gap: 128px;
  }
 */
  .mailing__right {
    margin-left: 10px;
  }

  .mailing__img {
    width: 100%;
    margin-top: 0;
  }
  .order__text,
  .switch-radio__label,
  .item__text-medium {
    font-size: 14px;
  }
  .item__title-medium {
    font-size: 17px;
  }
  .card-tariff__header {
    justify-content: space-between;
  }
  .card-tariff__switch {
    margin-left: 0;
  }

  .togglers-tariff__item:nth-child(3) {
    margin-left: calc(133 / 991 * 100%);
  }
  .togglers-tariff__item:nth-child(4) {
    margin-left: calc(76 / 991 * 100%);
  }

  .card-tariff__footer {
    margin-top: 30px;
  }

  .item-faq__underline {
    margin-top: 17px;
  }

  .item-faq__wrapper {
    margin: 28px 0;
  }

  /* .afterMailing__body, */

  .get__img,
  .parametres__img {
    width: 100%;
  }
  .cities__list,
  .cities__list-hidden {
    @include grid(0, 18px, 0px, 1, 1fr, auto-fill, 168px, 0.3fr);
  }

  .cities__img {
    width: 100%;
  }

  .cities__map {
    width: 250%;
  }

  .cities__right {
    flex: 1.2;
  }

  // .direction__body-wrapper {
  //   margin: 40px;
  //   margin-right: 50px;
  // }

  // .direction__body-wrapper {
  //   margin-bottom: 19px;
  // }

  // .direction__list + .direction__list {
  //   margin-top: 21px;
  // }

  // .direction__content-overflow--visible,
  // .direction__content {
  //   margin-top: 0;
  //   margin-bottom: 21px;
  // }

  // .direction__accordion {
  //   margin-bottom: 40px;
  //   margin-left: 40px;
  // }

  .difference__body {
    flex-direction: column;
  }

  .difference__item:nth-child(2) {
    margin-left: 0;
  }
  .difference__item + .difference__item {
    margin-top: 30px !important;
  }

  .service__right {
    margin-left: 33px;
  }

  .contact__body {
    flex-direction: column;
  }

  .contact__right {
    margin-top: 50px;
  }

  .item-datas__title {
    margin-top: 0 !important;
    margin-bottom: 12px;
  }

  .service-data {
    grid-template-areas:
      "img price type ."
      "img text text text"
      "img btn btn btn";
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 1fr 1fr;
  }
  .service-data__img {
    display: flex;
    align-items: center;
  }

  .service-data__btn {
    width: 100%;
  }
  .service-data__img-wrapper {
    margin-bottom: 55px;
    margin-right: 20px;
  }

  .article-data {
    margin: 0;
  }
  .article-data__text {
    max-width: initial;
  }

  //resizer

  .advantages__resizer,
  .programm__resizer,
  .interest-service__resizer,
  .articles-content__resizer {
    width: 8px;
  }

  /* .filter__body {
    min-width: 1116px;
  } */

  .interest-service__slider-item + .interest-service__slider-item,
  .articles-content__slide + .articles-content__slide {
    margin-left: 25px;
  }
  .interest-service__slider-item,
  .articles-content__slide {
    min-width: 36%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .main__title,
  .main__title-base,
  .section__title,
  .service__title,
  .services__title,
  .articles__title,
  .article__title {
    font-size: 32px;
    line-height: 40px;
  }

  .logo__img {
    width: auto;
    height: 32px;
  }
  .footer__list {
    flex-direction: column;
    align-items: baseline;
  }

  .footer__item + .footer__item {
    margin-top: 14px;
  }

  .main__text,
  .main__text-base {
    line-height: 25px;
    font-size: 16px;
  }

  .item-opportunity__wrapper,
  .item-suit__wrapper,
  .item-suitBase__wrapper {
    margin-left: 18px;
  }

  .get__left {
    display: none;
  }
  .get__list {
    padding-top: 0;
  }

  .get__right {
    margin-left: 0 !important;
    margin-top: 0;
  }
  /*   .service__header,
  .services__body,
  .articles__body,
  .contact__left {
    margin-top: 50px;
  } */

  .main__downloads {
    /* top: calc(961 / 1251 * 100%); */
  }

  .main__updates {
    // top: calc(488 / 1251 * 100%);
  }

  /*   .advantages__item,
  .advantages__item-center {
    min-width: 60%;
  } */

  .programm__item {
    min-width: 35%;
  }
  /* 
  .advantages__item:nth-child(3),
  .advantages__item-center {
    margin-left: 26px !important;
  }
 */
  .section__header {
    margin-top: 80px;
    margin-bottom: 45px;
  }

  .section__second {
    margin-top: 80px;
  }

  .section__content {
    padding-bottom: 80px;
  }

  .item__title {
    font-size: 21px;
  }

  .item__title-medium {
    font-size: 16px;
  }
  .item__text {
    font-size: 16px;
    line-height: 22px;
  }

  /*   .total-price__amount,
  .total-price__amount-rub {
    font-size: 36px;
    line-height: 36px;
  } */
  /*   .order__text,
  .switch-radio__label,
  .item__text-medium {
    font-size: 13px;
  } */

  .cities__left,
  .cities__right {
    width: 100%;
  }

  .cities__right {
    display: flex;
  }
  .cities__map {
    width: 250%;
    left: -26%;
    top: -102px;
  }

  .cities__img {
    margin-left: auto;
    width: 76%;
    margin-top: -41px;
    margin-right: -15px;
  }

  .cities__body {
    flex-direction: column;
  }

  .effect__item {
    min-width: 28%;
  }

  .cities__link {
    margin-left: 0;
  }

  .item-faq__underline {
    margin-top: 12px;
  }

  .item-faq__wrapper {
    margin: 24px 0;
  }
  .faq-btn {
    width: 24px;
  }

  // .direction__body-wrapper {
  //   margin: 30px;
  //   margin-right: 40px;
  // }

  // .direction__body-wrapper {
  //   margin-bottom: 15px;
  // }

  .direction__list + .direction__list {
    margin-top: 10px;
  }

  .direction__content-overflow--visible,
  .direction__content {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .item-suit__text {
    max-width: initial;
  }
  // .direction__accordion {
  //   margin-bottom: 30px;
  //   margin-left: 30px;
  // }

  .service-data {
    grid-template-areas:
      "price img"
      "type img"
      "text text"
      "btn btn";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 1fr 80px;
  }
  .service-data__img {
    display: flex;
    align-items: center;
  }

  .service-data__btn {
    width: 100%;
    margin-bottom: 0;
    align-self: flex-end;
  }

  .service-data__img-wrapper {
    margin: 0;
    width: 11.125rem;
    height: 11.125rem;
  }

  .service-data__img {
    display: flex;
    align-items: center;
    align-items: end;
    justify-content: flex-end;
  }

  .service-data__img-content {
    height: 66%;
  }

  .service-data__text {
    margin-top: 50px;
  }

  .content-services__item:hover .services-item__title {
    display: block;
  }

  .content-services__item:hover .services-item__btn {
    margin-top: 0;
  }

  .services-item__btn {
    margin: 0 19px !important;
    display: flex;
    margin-bottom: 17px !important;
  }

  .services-item__title {
    margin-bottom: 15px;
  }

  .popup__modal-wrapper {
    padding: 30px;
  }

  //resizer

  .advantages__resizer,
  .programm__resizer,
  .effect__resizer {
    width: 7px;
  }

  /*   .filter__body {
    min-width: 972px;
  } */
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .section__header {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .section__second {
    margin-top: 50px;
  }
  .section--main-background .section__content .section__header {
    margin-top: 80px;
  }

  .section__sec-title {
    text-align: left;
  }

  .main__body {
    margin-top: 20px;
  }

  .main__body--email {
    margin-top: 0;
  }
  .main__illustration {
    /*   width: calc(712 / 480 * 100%);
    margin-left: -23%; */
    /*     position: absolute;
    left: 0;
    right: 0; */
  }
  .main__email-illustration {
    width: calc(643 / 480 * 100%);
  }

  .logo__img {
    height: 26px;
  }

  .header__hamburger-menu {
    width: 42px;
  }
  /*   .service__header,
  .services__body,
  .articles__body,
  .articlee__body,
  .contact__left {
    margin-top: 40px;
  } */

  .section__content {
    padding-bottom: 50px;
  }
  .main {
    margin-top: 12px;
  }

  .contact {
    margin-top: 48px;
  }

  .main__plain-left {
    top: -18%;
    width: 28%;
    left: 0;
  }

  .main__title,
  .section__title,
  .main__title-base,
  .service__title,
  .services__title,
  .articles__title,
  .article__title {
    font-size: 26px;
    line-height: 30px;
  }

  .section__title {
    font-weight: 500;
  }

  .main__title,
  .main__text,
  .main__title-base,
  .main__text-base,
  .section__title,
  .getInformation__text,
  .download__text,
  .download__info {
    text-align: left;
  }
  .main__text,
  .main__text-base {
    line-height: 24px;
    font-size: 15px;
  }

  .main__tariffs-btn .btn__span {
    margin: auto;
  }

  .main__cards {
    width: (260 / 480 * 100%);
  }

  .notFound__body {
    flex-direction: column;
  }
  .notFound__title {
    order: -1;
    margin: 0;
  }

  .notFound__illustration {
    margin-top: 20px;
  }
  .item-opportunity__wrapper,
  .item-suit__wrapper,
  .item-suitBase__wrapper {
    margin-left: 12px;
  }

  .community__item,
  .afterMailing__item,
  .work__item {
    margin-top: 24px;
  }

  .community__item:nth-child(1),
  .work__item:nth-child(1) {
    margin-top: 40px;
  }

  .item-work__order,
  .item-afterMailing__order,
  .item-community__order,
  .item-programm__order {
    font-size: 45px;
  }

  .advantages__item + .advantages__item {
    margin-left: 24px;
  }

  .parametres__list {
    grid-template-columns: 12.375rem 7.5rem;
  }
  /*   .advantages__item,
  .advantages__item-center, */
  .programm__item {
    min-width: 94%;
  }

  .get__item {
    font-size: 16px !important;
    padding-left: 13px;
    &::marker {
    }
  }

  /*   .item-advantages {
    margin-left: 20px !important;
    margin-top: 15px;
  }
  .item-advantages__text {
    max-width: 280px;
  } */

  /*   .advantages__item:nth-child(3),
  .advantages__item-center, */
  .programm__item + .programm__item {
    margin-left: 12px !important;
  }

  .item__title {
    font-size: 20px;
  }

  /*   .item-faq__title,
  .item-work__title,
  .item-programm__title,
  .services-item__text {
    font-size: 16px !important);
  }
 */
  .item__title-medium {
    font-size: 13px;
  }
  /*   .item__text {
    font-size: 13px;
  } */

  .item-community__text {
    width: 275px;
  }

  /*   .total-price__amount,
  .total-price__amount-rub {
    font-size: 34px;
    line-height: 32px;
  } */
  .tariff__card {
    padding: 16px;
    padding-bottom: 50px;
  }
  /*   .card-tariff__text {
    font-size: 12px;
    line-height: 15px;
  } */

  .tariffsec__card + .tariffsec__card {
    margin-left: 20px;
  }
  .btn,
  .item-programm__img,
  .contact__right {
    width: 100%;
  }

  .total-price__amount-rub {
    margin-left: 8px;
  }

  .total-price__text {
    margin-left: 12px;
  }

  .card-tariff__footer {
    margin-top: 0;
  }

  .togglers-tariff__btn {
    margin-top: 14px;
  }

  .footer-tariff__btn {
    font-size: 14px;
    height: 50px;
  }

  .item-faq__underline {
    margin-top: 7px;
  }
  .item-faq__wrapper {
    margin: 20px 0;
  }

  .cities__list,
  .cities__list-hidden {
    grid-column-gap: 16px;
    grid-template: repeat(1, 1fr) / repeat(auto-fill, minmax(140px, 0.3fr));
  }

  .cities__item {
    margin-left: 5px;
    padding-left: 16px;
  }

  .tariffsec__slider,
  .advantages__slider {
    @include flexbox(row, space-between, center);
    grid-column-gap: 0;
  }

  .tariffsec__card,
  .advantages__item {
    min-width: 100%;
  }

  .card-tariffsec__body,
  .card-tariffsec__header {
    padding: 0 20px;
    margin-top: (30px);
    padding-bottom: 40px;
  }

  .afterMailing__item {
    margin-top: 0;
  }

  .afterMailing__item + .afterMailing__item {
    margin-top: 24px;
  }

  .item-difference {
    grid-template-areas:
      "order title ."
      "text text text";
    grid-template-columns: 55px 0.8fr 1fr;
    grid-template-rows: 0.2fr 1fr;
  }

  .item-difference__sec {
    margin-left: 0;
  }

  .item-difference__order {
    font-size: 42px;
    &:after {
      width: 66px;
      height: 66px;
    }
  }

  .item-difference__title {
    display: flex;
    align-items: center;
  }

  .effect__item {
    min-width: 70%;
  }
  .footer-effect__text {
    font-size: 16px;
    line-height: 22px;
    margin-top: 34%;
  }

  .modal-reference__text {
    line-height: 19px;
  }

  .modal-reference__text + .modal-reference__text {
    margin-top: 5px;
  }

  .popup__modal-wrapper {
    margin-top: 0;
    padding: 25px 12px;
  }

  .card-tariffsec__header-center,
  .card-tariffsec__header {
    padding: 20px;
    margin-top: 0;
  }

  .circe-togglers {
    @include flexbox(row, center, center);
  }

  .suit__item {
    width: 298px;
    height: 230px;
  }

  .afterMailing__right {
    margin-top: 46px;
  }

  // .direction__body-wrapper {
  //   margin: 19px;
  //   margin-right: 0;
  // }

  // .direction__body-wrapper {
  //   margin-left: 13px;
  // }

  .direction__list + .direction__list {
    margin-top: 0;
  }

  .direction__content-overflow--visible,
  .direction__content {
    margin-top: 0;
    margin-bottom: 0;
  }

  // .direction__accordion {
  //   margin-bottom: 19px;
  //   margin-left: 19px;
  // }
  .service__right {
    margin-left: 0;
  }

  /*   .direction__content-overflow--visible {
  } */

  //resizer

  .advantages__resizer,
  .programm__resizer,
  .tariffsec__resizer,
  .interest-service__resizer,
  .articles-content__resizer,
  .effect__resizer {
    width: 5px;
  }

  /*   .filter__body {
    min-width: 729px;
  } */

  /*   .services-item__img {
    width: 100%;
  } */

  .services__pages {
    margin-top: 30px;
  }

  .services-item__title {
    max-width: initial;
  }

  .services-item__btn {
    width: auto;
  }

  .service-data {
    grid-template-rows: 84px 100px 1fr 80px;
  }

  .service-data__img-wrapper {
    margin: 0;
    width: 134px;
    height: 134px;
  }

  /*   .service-data__img {
    display: flex;
    align-items: center;
    align-items: end;
    justify-content: flex-end;
  } */

  /*   .service-data__img-content {
    height: 66%;
  } */

  .item-datas__title {
    margin-bottom: 0;
  }

  .interest-service__slider-item,
  .articles-content__slide {
    min-width: 93%;
  }

  .interest-service__slider-item + .interest-service__slider-item,
  .articles-content__slide + .articles-content__slide {
    margin-left: 20px;
  }
}

// понадобности дописую промежуточные разрешения, если вдруг по дизайну что то падает на 650px, тогда дописую: @media
@media (max-width: 650px) {
  .page {
    &:after {
      content: none;
      /*  left: -18%; */
      /*  width: calc(1173 / 653 * 100%); */
      /*   width: 187%; */
      /*    height: 24.3125rem; */
      /*   bottom: 67%; */
    }
  }

  .header {
    padding: 0;
  }
  .main__elipse-mobile {
    display: block;
    z-index: -1;
    width: 200%;
    /*   min-width: 790px; */
    @include position(absolute, "", -145%, auto, -25%, auto, auto);
  }
  .main {
    margin-top: calc(70 / 991 * 100%);
    overflow: visible;
  }

  .main__title-span {
    display: none;
  }

  .main__title,
  .main__title--sec {
    font-weight: 500;
  }

  .main__text {
    margin-top: 32px;
  }

  .main__content {
    flex-direction: column;
  }

  .main__left,
  .main__tariffs {
    margin-top: 0;
  }

  .main__right {
    order: -1;
    width: 100%;
  }

  .main__illustration {
    width: 85%;
  }

  .main__content--base {
    margin-bottom: 16.25rem;
  }

  .main__downloads {
    bottom: -16.25rem;
    right: 0;
    left: auto;
  }

  .main__updates {
    left: 0;
    right: auto;
    bottom: -11.25rem;
    top: auto;
  }

  .community__body,
  .afterMailing__body,
  .work__body {
    flex-direction: column;
    align-items: flex-start;
  }

  .community__item:nth-child(2),
  .afterMailing__item:nth-child(2),
  .work__item:nth-child(3),
  .work__item:nth-child(2),
  .work__right,
  .afterMailing__right {
    margin-left: 0;
  }

  .community__item,
  .afterMailing__item,
  .work__item {
    margin-top: 50px;
  }

  .item-work__order,
  .item-afterMailing__order,
  .item-community__order,
  .item-programm__order {
    font-size: 53px;
  }

  /*   .advantages__item,
  .advantages__item-center {
    min-width: 75%;
  } */

  .programm__item {
    min-width: 44%;
  }

  /*   .advantages__item:nth-child(3),
  .advantages__item-center {
    margin-left: 19px !important;
  } */

  /*   .card-tariff__togglers {
    justify-content: space-between;
  } */
  .card-tariff__header,
  .card-tariff__togglers,
  .card-tariff__footer,
  .programm__body,
  .parametres__body,
  .service-data__header {
    flex-direction: column;
  }

  .parametres__right {
    margin: 81px auto;
    margin-bottom: 0;
  }

  .parametres__left {
    align-self: baseline;
  }

  .togglers-tariff__item:nth-child(3),
  .togglers-tariff__item:nth-child(4),
  .footer-tariff__info,
  .service-data__item,
  .mailing__right,
  .service-data__btn,
  .service-data__item,
  .service__right {
    margin-left: 0 !important ;
  }
  .togglers-tariff__input-content {
    margin-bottom: 25px;
  }

  .togglers-tariff__item:nth-child(4) .togglers-tariff__header {
    margin-bottom: 0;
  }

  .total-price__text {
    margin-left: 22px;
    padding: 0 !important ;
  }

  .btn__transparent,
  .btn__main {
    margin-top: 32px;
  }

  .card-tariff__switch,
  .card-tariff__body,
  .footer-tariff__info,
  .card-tariff__line,
  .togglers-tariff__item + .togglers-tariff__item {
    margin-top: 24px;
  }

  /*   .btn__main,
  .btn__main .togglers-tariff__btn {
    margin-top: 14px;
  } */

  /*   .service-data__item + .service-data__item {
    margin-top: 20px;
  } */
  .switch-radio__item + .switch-radio__item,
  .service-data__text {
    margin-top: 16px;
  }

  .footer-tariff__info {
    justify-content: flex-start;
  }
  .footer-tariff__btn,
  .main__body--base,
  .togglers-tariff__input,
  .togglers-tariff__input-content {
    width: 100%;
  }

  .effect__item {
    min-width: 40%;
  }

  .item-effect__text {
    max-width: initial;
  }

  .mailing__right {
    order: -1;
  }

  .contact__left {
    margin-top: 40px;
  }

  .service-data {
    position: relative;
  }

  .item-datas__text {
    margin-bottom: 18px;
  }

  .service__directions {
    margin-top: 117px;
  }

  //resizer

  .advantages__resizer,
  .programm__resizer,
  .interest-service__resizer,
  .articles-content__resizer,
  .effect__resizer {
    width: 6px;
  }

  .interest-service__slider-item,
  .articles-content__slide {
    min-width: 43%;
  }
}

@media (max-height: 1000px) {
  .page--contact {
    height: 100% !important;
  }
}
